- requriments: java8+, python3.8+
- java: https://www.oracle.com/java/technologies/downloads/archive/
- 설치 방법: 구글링
- tabula 설치: `!pip install tabula-py`

In [1]:
# PDF안에 데이터 테이블이 있는 경우가 있다. 
# 그런 PDF에 있는 데이터를 가져와서, 
# 정형데이터 형태로 뽑아보는 작업을 해보자. 

# 공공기관의 데이터나, 
# 논문에 첨부되어 있는 테이블 형태의 자료를 
# 뽑아서 쓸 때 굉장히 유용하게 쓰일 수 있는 기능이다.

In [2]:
# 타블라라는 라이브러리 이용
# 타블라: PDF와 관련된 표나, 이미지를 추출하고 다룰 수 있는 라이브러리이다.

In [3]:
# 다음 라이브러리는 여러분이 데이터 분석할 때, 기본적으로 SETTING을 해놓고, 시작하는 습관을 들여라. 
import numpy as np 
import pandas as pd
import matplotlib as mpl
mpl.rc("font", family="Malgun Gothic")
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#!pip install tabula 이게 아니라
#!pip uninstall tabula
# If you’ve installed tabula, it will conflict with the namespace. You should install tabula-py after removing tabula.
!pip install tabula-py
#이거로 설치해야 함
# 'tabula' requriments : java8+, python3.8+
import tabula

Requirement already satisfied: tabula-py in c:\users\user\anaconda3\lib\site-packages (2.7.0)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from tabula-py) (1.23.5)
Requirement already satisfied: distro in c:\users\user\anaconda3\lib\site-packages (from tabula-py) (1.8.0)
Requirement already satisfied: pandas>=0.25.3 in c:\users\user\anaconda3\lib\site-packages (from tabula-py) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)

In [5]:
help(tabula)

Help on package tabula:

NAME
    tabula

PACKAGE CONTENTS
    errors (package)
    file_util
    io
    painter
    section
    table
    template
    util

VERSION
    2.7.0

FILE
    c:\users\user\anaconda3\lib\site-packages\tabula\__init__.py

In [6]:
# 제공된 pdf 파일: 12년도 출판사별 매출액 비교한 자료의 모음
# pdf 파일을 열어보자

In [7]:
# 우리가 하고 싶은거: 중간에 있는 표 형태의 데이터를 df로 가져와서 분석작업을 Python으로 해보자

In [8]:
# 실제 실무에서는 공공기관에서 나오는 보고서 자료를 가져와서 사용하는 경우가 있다.

In [9]:
# 13페이지 "(4) 출판 부문별 영업이익 현황"표를 tabula 사용해서 가져와보자
# 나머지는 여러분이 연습해봐라

In [10]:
# pdf 뷰어 띄워놓고 어떤 데이터가 날아온건지 확인해가면서 해라. 
tabula.read_pdf("dataset/2012년_출판시장통계.pdf", pages=13) # 데이터프레임 형태가 아니라 list 형태로 날아온다.

[   Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3    2011년 Unnamed: 4  \
 0         영업이         NaN        NaN        NaN      NaN        NaN
 1         NaN         기업명         분류        NaN      NaN        영업이
 2         익순위         NaN        NaN        매출액     영업이익        NaN
 3         NaN         NaN        NaN        NaN      NaN        익률%
 4           1        교원구몬          1    673,103   74,512       11.1
 5           2          대교          1    793,665   65,436        8.2
 6           3  웅진씽크빅(학습지)          1    394,630   33,683        8.5
 7           4        재능교육          1    251,908    1,770        0.7
 8           5        한솔교육          1    246,638   -1,124       -0.5
 9           6        장원교육          1     43,895    2,795        6.4
 10          7       노벨과개미          1      9,649    1,775       18.4
 11          8  노벨아이(교수닷컴)          1     18,413    1,096        6.0
 12       소계 1  학습지 (8개 사)        NaN  2,431,901  179,943        7.4
 13          1          교원          2    482,314   44,637        9.3
 14          2   웅진씽크빅(전집)          2    217,371   19,623        9.0
 15          3         예림당          2     53,787   14,930       27.8
 16          4      프뢰벨미디어          2     23,455    8,840       37.7
 17          5     재능이아카데미          2     10,089    2,026       20.1
 18          6       삼성출판사          2     56,384    3,643        6.5
 19          7     한국헤르만헤세          2     25,799    1,040        4.0
 20          8      한국몬테소리          2     55,314    3,138        5.7
 21          9        아가월드          2     11,394      -47       -0.4
 22         10      베네세코리아          2     41,651        3        0.0
 23         11      프뢰벨하우스          2     48,033      734        1.5
 24       소계 2   전집(11개 사)        NaN  1,025,591   98,567        9.6
 25          1        비상교육          3    111,835   16,576       14.8
 26          2        천재교육          3    236,886   15,286        6.5
 27          3         미래엔          3    120,324    9,379        7.8
 28          4        개념원리          3     25,015    8,304       33.2

    Unnamed: 5    2012년         매출액     영업이익
 0         NaN      NaN         NaN      NaN
 1         NaN      NaN     영업이 증감률      증감률
 2         매출액     영업이익         NaN      NaN
 3         NaN      NaN       익률% %        %
 4     653,055   77,640   11.9 -3.0      4.2
 5     771,528   40,273    5.2 -2.8    -38.5
 6     391,022   19,558    5.0 -0.9    -41.9
 7     242,530    8,321    3.4 -3.3    370.1
 8     228,116    4,477    2.0 -7.5     흑자전환
 9      44,242    3,364     7.6 0.8     20.4
 10     10,146    3,190    31.4 5.2     79.7
 11     18,004    1,435    8.0 -2.2     30.9
 12  2,358,643  158,258    6.7 -3.0    -12.1
 13    487,534   50,767    10.4 1.1     13.7
 14    205,690   13,328    9.4 -5.4    -32.1
 15     47,996   12,786  26.6 -10.8    -14.4
 16     21,527    6,536   30.4 -8.2    -26.1
 17     11,117    2,595   23.3 10.2     28.1
 18     57,794    1,525     2.6 2.5    -58.1
 19     18,805    1,317   7.0 -27.1     26.6
 20     51,421      630    1.2 -7.0    -79.9
 21     12,206      503     4.1 7.1     흑자전환
 22     40,221      243    0.6 -3.4  8,000.0
 23     42,335   -3,245  -7.7 -11.9     적자전환
 24    996,646   86,985    8.7 -2.8    -11.8
 25    119,403   22,038    18.5 6.8     33.0
 26    225,147   15,776    7.0 -5.0      3.2
 27    132,126   12,487     9.5 9.8     33.1
 28     25,020    8,475    33.9 0.0      2.1  ]

In [47]:
# list가 아니라 df로 불러오기: 0번 째 table만 가져와보자
# 13페이지에는 테이블이 한개 있다  
# tabula.read_pdf(multiple_tables): 한 페이지에 표가 여러 개 있을 때, 여러 개의 표를 구분해서 가져오는 옵션
# [0]: 구분한 여러 테이블 중 0번 째 테이블
df1 = tabula.read_pdf("dataset/2012년_출판시장통계.pdf", pages=13, multiple_tables=True)[0]

In [16]:
df1 # 컬럼 이름이 난잡하게 되어 있다. 
# 왜 난잡하게 잡혔냐? 
# pdf 상 테이블을 보면, 표가 연도별로 데이터가 나뉘어져 있기 때문이다.
# unnamed: 0, ...를 rename() 사용해서 컬럼명 바꿔준다.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,2011년,Unnamed: 4,Unnamed: 5,2012년,매출액,영업이익
0,영업이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,기업명,분류,NaN,NaN,영업이,NaN,NaN,영업이 증감률,증감률
2,익순위,NaN,NaN,매출액,영업이익,NaN,매출액,영업이익,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,익률%,NaN,NaN,익률% %,%
4,1,교원구몬,1,"673,103","74,512",11.1,"653,055","77,640",11.9 -3.0,4.2
5,2,대교,1,"793,665","65,436",8.2,"771,528","40,273",5.2 -2.8,-38.5
6,3,웅진씽크빅(학습지),1,"394,630","33,683",8.5,"391,022","19,558",5.0 -0.9,-41.9
7,4,재능교육,1,"251,908","1,770",0.7,"242,530","8,321",3.4 -3.3,370.1
8,5,한솔교육,1,"246,638","-1,124",-0.5,"228,116","4,477",2.0 -7.5,흑자전환
9,6,장원교육,1,"43,895","2,795",6.4,"44,242","3,364",7.6 0.8,20.4
10,7,노벨과개미,1,"9,649","1,775",18.4,"10,146","3,190",31.4 5.2,79.7
11,8,노벨아이(교수닷컴),1,"18,413","1,096",6.0,"18,004","1,435",8.0 -2.2,30.9
12,소계 1,학습지 (8개 사),NaN,"2,431,901","179,943",7.4,"2,358,643","158,258",6.7 -3.0,-12.1
13,1,교원,2,"482,314","44,637",9.3,"487,534","50,767",10.4 1.1,13.7
14,2,웅진씽크빅(전집),2,"217,371","19,623",9.0,"205,690","13,328",9.4 -5.4,-32.1
15,3,예림당,2,"53,787","14,930",27.8,"47,996","12,786",26.6 -10.8,-14.4
16,4,프뢰벨미디어,2,"23,455","8,840",37.7,"21,527","6,536",30.4 -8.2,-26.1
17,5,재능이아카데미,2,"10,089","2,026",20.1,"11,117","2,595",23.3 10.2,28.1
18,6,삼성출판사,2,"56,384","3,643",6.5,"57,794","1,525",2.6 2.5,-58.1
19,7,한국헤르만헤세,2,"25,799","1,040",4.0,"18,805","1,317",7.0 -27.1,26.6
20,8,한국몬테소리,2,"55,314","3,138",5.7,"51,421",630,1.2 -7.0,-79.9
21,9,아가월드,2,"11,394",-47,-0.4,"12,206",503,4.1 7.1,흑자전환
22,10,베네세코리아,2,"41,651",3,0.0,"40,221",243,0.6 -3.4,"8,000.0"
23,11,프뢰벨하우스,2,"48,033",734,1.5,"42,335","-3,245",-7.7 -11.9,적자전환
24,소계 2,전집(11개 사),NaN,"1,025,591","98,567",9.6,"996,646","86,985",8.7 -2.8,-11.8
25,1,비상교육,3,"111,835","16,576",14.8,"119,403","22,038",18.5 6.8,33.0
26,2,천재교육,3,"236,886","15,286",6.5,"225,147","15,776",7.0 -5.0,3.2
27,3,미래엔,3,"120,324","9,379",7.8,"132,126","12,487",9.5 9.8,33.1
28,4,개념원리,3,"25,015","8,304",33.2,"25,020","8,475",33.9 0.0,2.1

In [19]:
# 이름 바꿀 col이 많으면 rename 사용하기 어렵다. 시간적 소모. ㅁ
df1.rename(columns={"Unnamed: 0": "영업이익순위"})
# 한번에 바꾸는 방법이 있다.

,영업이익순위,Unnamed: 1,Unnamed: 2,Unnamed: 3,2011년,Unnamed: 4,Unnamed: 5,2012년,매출액,영업이익
0,영업이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,기업명,분류,NaN,NaN,영업이,NaN,NaN,영업이 증감률,증감률
2,익순위,NaN,NaN,매출액,영업이익,NaN,매출액,영업이익,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,익률%,NaN,NaN,익률% %,%
4,1,교원구몬,1,"673,103","74,512",11.1,"653,055","77,640",11.9 -3.0,4.2
5,2,대교,1,"793,665","65,436",8.2,"771,528","40,273",5.2 -2.8,-38.5
6,3,웅진씽크빅(학습지),1,"394,630","33,683",8.5,"391,022","19,558",5.0 -0.9,-41.9
7,4,재능교육,1,"251,908","1,770",0.7,"242,530","8,321",3.4 -3.3,370.1
8,5,한솔교육,1,"246,638","-1,124",-0.5,"228,116","4,477",2.0 -7.5,흑자전환
9,6,장원교육,1,"43,895","2,795",6.4,"44,242","3,364",7.6 0.8,20.4
10,7,노벨과개미,1,"9,649","1,775",18.4,"10,146","3,190",31.4 5.2,79.7
11,8,노벨아이(교수닷컴),1,"18,413","1,096",6.0,"18,004","1,435",8.0 -2.2,30.9
12,소계 1,학습지 (8개 사),NaN,"2,431,901","179,943",7.4,"2,358,643","158,258",6.7 -3.0,-12.1
13,1,교원,2,"482,314","44,637",9.3,"487,534","50,767",10.4 1.1,13.7
14,2,웅진씽크빅(전집),2,"217,371","19,623",9.0,"205,690","13,328",9.4 -5.4,-32.1
15,3,예림당,2,"53,787","14,930",27.8,"47,996","12,786",26.6 -10.8,-14.4
16,4,프뢰벨미디어,2,"23,455","8,840",37.7,"21,527","6,536",30.4 -8.2,-26.1
17,5,재능이아카데미,2,"10,089","2,026",20.1,"11,117","2,595",23.3 10.2,28.1
18,6,삼성출판사,2,"56,384","3,643",6.5,"57,794","1,525",2.6 2.5,-58.1
19,7,한국헤르만헤세,2,"25,799","1,040",4.0,"18,805","1,317",7.0 -27.1,26.6
20,8,한국몬테소리,2,"55,314","3,138",5.7,"51,421",630,1.2 -7.0,-79.9
21,9,아가월드,2,"11,394",-47,-0.4,"12,206",503,4.1 7.1,흑자전환
22,10,베네세코리아,2,"41,651",3,0.0,"40,221",243,0.6 -3.4,"8,000.0"
23,11,프뢰벨하우스,2,"48,033",734,1.5,"42,335","-3,245",-7.7 -11.9,적자전환
24,소계 2,전집(11개 사),NaN,"1,025,591","98,567",9.6,"996,646","86,985",8.7 -2.8,-11.8
25,1,비상교육,3,"111,835","16,576",14.8,"119,403","22,038",18.5 6.8,33.0
26,2,천재교육,3,"236,886","15,286",6.5,"225,147","15,776",7.0 -5.0,3.2
27,3,미래엔,3,"120,324","9,379",7.8,"132,126","12,487",9.5 9.8,33.1
28,4,개념원리,3,"25,015","8,304",33.2,"25,020","8,475",33.9 0.0,2.1

In [21]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', '2011년',
       'Unnamed: 4', 'Unnamed: 5', '2012년', '매출액', '영업이익'],
      dtype='object')

In [22]:
# list 형태로 바꿔준다.
df1.columns.tolist()

['Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 '2011년',
 'Unnamed: 4',
 'Unnamed: 5',
 '2012년',
 '매출액',
 '영업이익']

In [23]:
# 위 리스트랑 내가 바꾸고 싶은 이름들이 담긴 list를 새로 만들어서, 
# 그 두개를 dict 형태로 합체해줄거다. combine 시켜줄거다.
# lst1의 0번 element가 lst2의 0번 element로 바뀌게할거다.

In [51]:
col_names = df1.columns.tolist()
new_col_names = ['순위', '기업명', '분류', '매출액_2011', "영업이익_2011", "영업이익율_2011",
                "매출액_2012", "영업이익_2012", "영업이익율", "영업이익증감율"]

In [52]:
# zip()
zip(col_names, new_col_names)

In [53]:
dict(zip(col_names, new_col_names)) # 매칭되서 하나의 dict가 나오게 된다.

{'Unnamed: 0': '순위',
 'Unnamed: 1': '기업명',
 'Unnamed: 2': '분류',
 'Unnamed: 3': '매출액_2011',
 '2011년': '영업이익_2011',
 'Unnamed: 4': '영업이익율_2011',
 'Unnamed: 5': '매출액_2012',
 '2012년': '영업이익_2012',
 '매출액': '영업이익율',
 '영업이익': '영업이익증감율'}

In [54]:
trans_name = dict(zip(col_names, new_col_names))

In [55]:
# 캬.. 
# 0-3 row는 필요 없다. 
df1.rename(columns=trans_name)

,순위,기업명,분류,매출액_2011,영업이익_2011,영업이익율_2011,매출액_2012,영업이익_2012,영업이익율,영업이익증감율
0,영업이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,기업명,분류,NaN,NaN,영업이,NaN,NaN,영업이 증감률,증감률
2,익순위,NaN,NaN,매출액,영업이익,NaN,매출액,영업이익,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,익률%,NaN,NaN,익률% %,%
4,1,교원구몬,1,"673,103","74,512",11.1,"653,055","77,640",11.9 -3.0,4.2
5,2,대교,1,"793,665","65,436",8.2,"771,528","40,273",5.2 -2.8,-38.5
6,3,웅진씽크빅(학습지),1,"394,630","33,683",8.5,"391,022","19,558",5.0 -0.9,-41.9
7,4,재능교육,1,"251,908","1,770",0.7,"242,530","8,321",3.4 -3.3,370.1
8,5,한솔교육,1,"246,638","-1,124",-0.5,"228,116","4,477",2.0 -7.5,흑자전환
9,6,장원교육,1,"43,895","2,795",6.4,"44,242","3,364",7.6 0.8,20.4
10,7,노벨과개미,1,"9,649","1,775",18.4,"10,146","3,190",31.4 5.2,79.7
11,8,노벨아이(교수닷컴),1,"18,413","1,096",6.0,"18,004","1,435",8.0 -2.2,30.9
12,소계 1,학습지 (8개 사),NaN,"2,431,901","179,943",7.4,"2,358,643","158,258",6.7 -3.0,-12.1
13,1,교원,2,"482,314","44,637",9.3,"487,534","50,767",10.4 1.1,13.7
14,2,웅진씽크빅(전집),2,"217,371","19,623",9.0,"205,690","13,328",9.4 -5.4,-32.1
15,3,예림당,2,"53,787","14,930",27.8,"47,996","12,786",26.6 -10.8,-14.4
16,4,프뢰벨미디어,2,"23,455","8,840",37.7,"21,527","6,536",30.4 -8.2,-26.1
17,5,재능이아카데미,2,"10,089","2,026",20.1,"11,117","2,595",23.3 10.2,28.1
18,6,삼성출판사,2,"56,384","3,643",6.5,"57,794","1,525",2.6 2.5,-58.1
19,7,한국헤르만헤세,2,"25,799","1,040",4.0,"18,805","1,317",7.0 -27.1,26.6
20,8,한국몬테소리,2,"55,314","3,138",5.7,"51,421",630,1.2 -7.0,-79.9
21,9,아가월드,2,"11,394",-47,-0.4,"12,206",503,4.1 7.1,흑자전환
22,10,베네세코리아,2,"41,651",3,0.0,"40,221",243,0.6 -3.4,"8,000.0"
23,11,프뢰벨하우스,2,"48,033",734,1.5,"42,335","-3,245",-7.7 -11.9,적자전환
24,소계 2,전집(11개 사),NaN,"1,025,591","98,567",9.6,"996,646","86,985",8.7 -2.8,-11.8
25,1,비상교육,3,"111,835","16,576",14.8,"119,403","22,038",18.5 6.8,33.0
26,2,천재교육,3,"236,886","15,286",6.5,"225,147","15,776",7.0 -5.0,3.2
27,3,미래엔,3,"120,324","9,379",7.8,"132,126","12,487",9.5 9.8,33.1
28,4,개념원리,3,"25,015","8,304",33.2,"25,020","8,475",33.9 0.0,2.1

In [56]:
df1.rename(columns=trans_name).iloc[4:]
# 중간 중간에 소계1 같은 행이 있다. 이런 행은 제거해주자.

,순위,기업명,분류,매출액_2011,영업이익_2011,영업이익율_2011,매출액_2012,영업이익_2012,영업이익율,영업이익증감율
4,1,교원구몬,1,"673,103","74,512",11.1,"653,055","77,640",11.9 -3.0,4.2
5,2,대교,1,"793,665","65,436",8.2,"771,528","40,273",5.2 -2.8,-38.5
6,3,웅진씽크빅(학습지),1,"394,630","33,683",8.5,"391,022","19,558",5.0 -0.9,-41.9
7,4,재능교육,1,"251,908","1,770",0.7,"242,530","8,321",3.4 -3.3,370.1
8,5,한솔교육,1,"246,638","-1,124",-0.5,"228,116","4,477",2.0 -7.5,흑자전환
9,6,장원교육,1,"43,895","2,795",6.4,"44,242","3,364",7.6 0.8,20.4
10,7,노벨과개미,1,"9,649","1,775",18.4,"10,146","3,190",31.4 5.2,79.7
11,8,노벨아이(교수닷컴),1,"18,413","1,096",6.0,"18,004","1,435",8.0 -2.2,30.9
12,소계 1,학습지 (8개 사),NaN,"2,431,901","179,943",7.4,"2,358,643","158,258",6.7 -3.0,-12.1
13,1,교원,2,"482,314","44,637",9.3,"487,534","50,767",10.4 1.1,13.7
14,2,웅진씽크빅(전집),2,"217,371","19,623",9.0,"205,690","13,328",9.4 -5.4,-32.1
15,3,예림당,2,"53,787","14,930",27.8,"47,996","12,786",26.6 -10.8,-14.4
16,4,프뢰벨미디어,2,"23,455","8,840",37.7,"21,527","6,536",30.4 -8.2,-26.1
17,5,재능이아카데미,2,"10,089","2,026",20.1,"11,117","2,595",23.3 10.2,28.1
18,6,삼성출판사,2,"56,384","3,643",6.5,"57,794","1,525",2.6 2.5,-58.1
19,7,한국헤르만헤세,2,"25,799","1,040",4.0,"18,805","1,317",7.0 -27.1,26.6
20,8,한국몬테소리,2,"55,314","3,138",5.7,"51,421",630,1.2 -7.0,-79.9
21,9,아가월드,2,"11,394",-47,-0.4,"12,206",503,4.1 7.1,흑자전환
22,10,베네세코리아,2,"41,651",3,0.0,"40,221",243,0.6 -3.4,"8,000.0"
23,11,프뢰벨하우스,2,"48,033",734,1.5,"42,335","-3,245",-7.7 -11.9,적자전환
24,소계 2,전집(11개 사),NaN,"1,025,591","98,567",9.6,"996,646","86,985",8.7 -2.8,-11.8
25,1,비상교육,3,"111,835","16,576",14.8,"119,403","22,038",18.5 6.8,33.0
26,2,천재교육,3,"236,886","15,286",6.5,"225,147","15,776",7.0 -5.0,3.2
27,3,미래엔,3,"120,324","9,379",7.8,"132,126","12,487",9.5 9.8,33.1
28,4,개념원리,3,"25,015","8,304",33.2,"25,020","8,475",33.9 0.0,2.1

In [57]:
# 앞에서 배운 함수들이 조금 조금씩 쓰인다. 
# 그렇게 더러운 데이터가 깔금하게 바뀌었다. 

# 지금은 선생님이 가이드를 해줬지만
# 실무에서는 실무 데이터를 갖고 여러분이 직접 연습(배운 함수들 쓰는거)을 해봐야 한다. 
df1.rename(columns=trans_name).iloc[4:].dropna()
# 문제1. 매출액이 겹친다. 
# 문제2. 매출액 중간에 comma가 있고 object 타입인 col이 많다.
# 문제3. 매출액_2011, 매출액_2012와 같이 매출액 col 하나로 묶을 수 있는 column이 있다. (연도는 다르지만 항목값이 중복되어있다.)

,순위,기업명,분류,매출액_2011,영업이익_2011,영업이익율_2011,매출액_2012,영업이익_2012,영업이익율,영업이익증감율
4,1,교원구몬,1,"673,103","74,512",11.1,"653,055","77,640",11.9 -3.0,4.2
5,2,대교,1,"793,665","65,436",8.2,"771,528","40,273",5.2 -2.8,-38.5
6,3,웅진씽크빅(학습지),1,"394,630","33,683",8.5,"391,022","19,558",5.0 -0.9,-41.9
7,4,재능교육,1,"251,908","1,770",0.7,"242,530","8,321",3.4 -3.3,370.1
8,5,한솔교육,1,"246,638","-1,124",-0.5,"228,116","4,477",2.0 -7.5,흑자전환
9,6,장원교육,1,"43,895","2,795",6.4,"44,242","3,364",7.6 0.8,20.4
10,7,노벨과개미,1,"9,649","1,775",18.4,"10,146","3,190",31.4 5.2,79.7
11,8,노벨아이(교수닷컴),1,"18,413","1,096",6.0,"18,004","1,435",8.0 -2.2,30.9
13,1,교원,2,"482,314","44,637",9.3,"487,534","50,767",10.4 1.1,13.7
14,2,웅진씽크빅(전집),2,"217,371","19,623",9.0,"205,690","13,328",9.4 -5.4,-32.1
15,3,예림당,2,"53,787","14,930",27.8,"47,996","12,786",26.6 -10.8,-14.4
16,4,프뢰벨미디어,2,"23,455","8,840",37.7,"21,527","6,536",30.4 -8.2,-26.1
17,5,재능이아카데미,2,"10,089","2,026",20.1,"11,117","2,595",23.3 10.2,28.1
18,6,삼성출판사,2,"56,384","3,643",6.5,"57,794","1,525",2.6 2.5,-58.1
19,7,한국헤르만헤세,2,"25,799","1,040",4.0,"18,805","1,317",7.0 -27.1,26.6
20,8,한국몬테소리,2,"55,314","3,138",5.7,"51,421",630,1.2 -7.0,-79.9
21,9,아가월드,2,"11,394",-47,-0.4,"12,206",503,4.1 7.1,흑자전환
22,10,베네세코리아,2,"41,651",3,0.0,"40,221",243,0.6 -3.4,"8,000.0"
23,11,프뢰벨하우스,2,"48,033",734,1.5,"42,335","-3,245",-7.7 -11.9,적자전환
25,1,비상교육,3,"111,835","16,576",14.8,"119,403","22,038",18.5 6.8,33.0
26,2,천재교육,3,"236,886","15,286",6.5,"225,147","15,776",7.0 -5.0,3.2
27,3,미래엔,3,"120,324","9,379",7.8,"132,126","12,487",9.5 9.8,33.1
28,4,개념원리,3,"25,015","8,304",33.2,"25,020","8,475",33.9 0.0,2.1

In [58]:
df2 = df1.rename(columns=trans_name).iloc[4:].dropna()

In [59]:
df2.columns

Index(['순위', '기업명', '분류', '매출액_2011', '영업이익_2011', '영업이익율_2011', '매출액_2012',
       '영업이익_2012', '영업이익율', '영업이익증감율'],
      dtype='object')

In [60]:
# 숫자로 바꿔보자. comma 빼고 숫자로 변환
# comma 때문에 Python이 아래 ser를 object 타입으로 인식하고 있는 것이다.
df2["매출액_2011"]

4     673,103
5     793,665
6     394,630
7     251,908
8     246,638
9      43,895
10      9,649
11     18,413
13    482,314
14    217,371
15     53,787
16     23,455
17     10,089
18     56,384
19     25,799
20     55,314
21     11,394
22     41,651
23     48,033
25    111,835
26    236,886
27    120,324
28     25,015
Name: 매출액_2011, dtype: object

In [70]:
# apply '정규식'
# replace : 특정 문자를 제거하는 함수
def func1(row):
    return int(row.replace(',', ''))

In [71]:
df2[""] = df2["매출액_2011"].apply(func1)

4     673103
5     793665
6     394630
7     251908
8     246638
9      43895
10      9649
11     18413
13    482314
14    217371
15     53787
16     23455
17     10089
18     56384
19     25799
20     55314
21     11394
22     41651
23     48033
25    111835
26    236886
27    120324
28     25015
Name: 매출액_2011, dtype: int64

In [ ]:
# 연도, 매출액을 분리해보자. 
# 매출액_2011, 매출액_2012 -> 매출액, 연도

In [73]:
# melt: 데이터를 한줄로 모아주는 함수
# pd.melt(id_vars): 변경하지 않을 col들, 그대로 냅둘 col 이름을 적는다. 
pd.melt(df2, id_vars=["순위", "기업명", "분류", "영업이익율", "영업이익증감율"])
# id_vars에 적은 col 제외하고, 나머지 col은 뒤에 연도가 붙어있다. 
# 연도가 붙은 col을 varivale 컬럼 하나에 몰아버리고, 그에 관련된 숫자 데이터를 value에 넣는다.

     순위         기업명 분류       영업이익율 영업이익증감율   variable    value
0     1        교원구몬  1   11.9 -3.0     4.2   매출액_2011  673,103
1     2          대교  1    5.2 -2.8   -38.5   매출액_2011  793,665
2     3  웅진씽크빅(학습지)  1    5.0 -0.9   -41.9   매출액_2011  394,630
3     4        재능교육  1    3.4 -3.3   370.1   매출액_2011  251,908
4     5        한솔교육  1    2.0 -7.5    흑자전환   매출액_2011  246,638
..   ..         ... ..         ...     ...        ...      ...
110  11      프뢰벨하우스  2  -7.7 -11.9    적자전환  영업이익_2012   -3,245
111   1        비상교육  3    18.5 6.8    33.0  영업이익_2012   22,038
112   2        천재교육  3    7.0 -5.0     3.2  영업이익_2012   15,776
113   3         미래엔  3     9.5 9.8    33.1  영업이익_2012   12,487
114   4        개념원리  3    33.9 0.0     2.1  영업이익_2012    8,475

[115 rows x 7 columns]

In [75]:
# variable 열에서 '_' 기준으로 '구분자'={'영업이익', '매출액'}, '연도'={2011, 2012} 데이터, 열 2개를 만든다.
df3 = pd.melt(df2, id_vars=["순위", "기업명", "분류", "영업이익율", "영업이익증감율"])

In [78]:
df3["variable"]

0       매출액_2011
1       매출액_2011
2       매출액_2011
3       매출액_2011
4       매출액_2011
         ...
110    영업이익_2012
111    영업이익_2012
112    영업이익_2012
113    영업이익_2012
114    영업이익_2012
Name: variable, Length: 115, dtype: object

In [76]:
# split: 특정 문자를 기준으로 문자열을 list로 나누는 함수
# 특정 문자 기준으로 좌측 문자열은 lst[0]에, 우측 문자열은 lst[1]에 들어간다.
def func2(row):
    return row.split('_')

In [79]:
df3["variable"].apply(func2)

0       [매출액, 2011]
1       [매출액, 2011]
2       [매출액, 2011]
3       [매출액, 2011]
4       [매출액, 2011]
           ...
110    [영업이익, 2012]
111    [영업이익, 2012]
112    [영업이익, 2012]
113    [영업이익, 2012]
114    [영업이익, 2012]
Name: variable, Length: 115, dtype: object

In [80]:
#lst[1]에 연도 데이터가 있으므로, idx=1로 연도 col을 만든다.
def func2(row):
    return row.split('_')[1]

In [82]:
df3["연도"] = df3["variable"].apply(func2)

In [83]:
df3

     순위         기업명 분류       영업이익율 영업이익증감율   variable    value    연도
0     1        교원구몬  1   11.9 -3.0     4.2   매출액_2011  673,103  2011
1     2          대교  1    5.2 -2.8   -38.5   매출액_2011  793,665  2011
2     3  웅진씽크빅(학습지)  1    5.0 -0.9   -41.9   매출액_2011  394,630  2011
3     4        재능교육  1    3.4 -3.3   370.1   매출액_2011  251,908  2011
4     5        한솔교육  1    2.0 -7.5    흑자전환   매출액_2011  246,638  2011
..   ..         ... ..         ...     ...        ...      ...   ...
110  11      프뢰벨하우스  2  -7.7 -11.9    적자전환  영업이익_2012   -3,245  2012
111   1        비상교육  3    18.5 6.8    33.0  영업이익_2012   22,038  2012
112   2        천재교육  3    7.0 -5.0     3.2  영업이익_2012   15,776  2012
113   3         미래엔  3     9.5 9.8    33.1  영업이익_2012   12,487  2012
114   4        개념원리  3    33.9 0.0     2.1  영업이익_2012    8,475  2012

[115 rows x 8 columns]

In [84]:
def func3(row):
    return row.split('_')[0]

In [88]:
df3["구분"] = df3["variable"].apply(func3)

In [89]:
# melt: id_vars에 적지 않은 col 이름을 variable열 하나에 뭉침
# apply: split('_') 해서 (매출액, 영업이익)을 구분하고, (2011, 2012)를 구분함.
df3

     순위         기업명 분류       영업이익율 영업이익증감율   variable    value    연도    구분
0     1        교원구몬  1   11.9 -3.0     4.2   매출액_2011  673,103  2011   매출액
1     2          대교  1    5.2 -2.8   -38.5   매출액_2011  793,665  2011   매출액
2     3  웅진씽크빅(학습지)  1    5.0 -0.9   -41.9   매출액_2011  394,630  2011   매출액
3     4        재능교육  1    3.4 -3.3   370.1   매출액_2011  251,908  2011   매출액
4     5        한솔교육  1    2.0 -7.5    흑자전환   매출액_2011  246,638  2011   매출액
..   ..         ... ..         ...     ...        ...      ...   ...   ...
110  11      프뢰벨하우스  2  -7.7 -11.9    적자전환  영업이익_2012   -3,245  2012  영업이익
111   1        비상교육  3    18.5 6.8    33.0  영업이익_2012   22,038  2012  영업이익
112   2        천재교육  3    7.0 -5.0     3.2  영업이익_2012   15,776  2012  영업이익
113   3         미래엔  3     9.5 9.8    33.1  영업이익_2012   12,487  2012  영업이익
114   4        개념원리  3    33.9 0.0     2.1  영업이익_2012    8,475  2012  영업이익

[115 rows x 9 columns]

In [90]:
df3["구분"]

0       매출액
1       매출액
2       매출액
3       매출액
4       매출액
       ...
110    영업이익
111    영업이익
112    영업이익
113    영업이익
114    영업이익
Name: 구분, Length: 115, dtype: object

In [91]:
cond1 = (df3["구분"] == "매출액")
df3.loc[cond1] # 이 df의 value 값은 모두 매출액이다. (2011 또는 2012년도)

    순위         기업명 분류       영업이익율  영업이익증감율  variable    value    연도   구분
0    1        교원구몬  1   11.9 -3.0      4.2  매출액_2011  673,103  2011  매출액
1    2          대교  1    5.2 -2.8    -38.5  매출액_2011  793,665  2011  매출액
2    3  웅진씽크빅(학습지)  1    5.0 -0.9    -41.9  매출액_2011  394,630  2011  매출액
3    4        재능교육  1    3.4 -3.3    370.1  매출액_2011  251,908  2011  매출액
4    5        한솔교육  1    2.0 -7.5     흑자전환  매출액_2011  246,638  2011  매출액
5    6        장원교육  1     7.6 0.8     20.4  매출액_2011   43,895  2011  매출액
6    7       노벨과개미  1    31.4 5.2     79.7  매출액_2011    9,649  2011  매출액
7    8  노벨아이(교수닷컴)  1    8.0 -2.2     30.9  매출액_2011   18,413  2011  매출액
8    1          교원  2    10.4 1.1     13.7  매출액_2011  482,314  2011  매출액
9    2   웅진씽크빅(전집)  2    9.4 -5.4    -32.1  매출액_2011  217,371  2011  매출액
10   3         예림당  2  26.6 -10.8    -14.4  매출액_2011   53,787  2011  매출액
11   4      프뢰벨미디어  2   30.4 -8.2    -26.1  매출액_2011   23,455  2011  매출액
12   5     재능이아카데미  2   23.3 10.2     28.1  매출액_2011   10,089  2011  매출액
13   6       삼성출판사  2     2.6 2.5    -58.1  매출액_2011   56,384  2011  매출액
14   7     한국헤르만헤세  2   7.0 -27.1     26.6  매출액_2011   25,799  2011  매출액
15   8      한국몬테소리  2    1.2 -7.0    -79.9  매출액_2011   55,314  2011  매출액
16   9        아가월드  2     4.1 7.1     흑자전환  매출액_2011   11,394  2011  매출액
17  10      베네세코리아  2    0.6 -3.4  8,000.0  매출액_2011   41,651  2011  매출액
18  11      프뢰벨하우스  2  -7.7 -11.9     적자전환  매출액_2011   48,033  2011  매출액
19   1        비상교육  3    18.5 6.8     33.0  매출액_2011  111,835  2011  매출액
20   2        천재교육  3    7.0 -5.0      3.2  매출액_2011  236,886  2011  매출액
21   3         미래엔  3     9.5 9.8     33.1  매출액_2011  120,324  2011  매출액
22   4        개념원리  3    33.9 0.0      2.1  매출액_2011   25,015  2011  매출액
69   1        교원구몬  1   11.9 -3.0      4.2  매출액_2012  653,055  2012  매출액
70   2          대교  1    5.2 -2.8    -38.5  매출액_2012  771,528  2012  매출액
71   3  웅진씽크빅(학습지)  1    5.0 -0.9    -41.9  매출액_2012  391,022  2012  매출액
72   4        재능교육  1    3.4 -3.3    370.1  매출액_2012  242,530  2012  매출액
73   5        한솔교육  1    2.0 -7.5     흑자전환  매출액_2012  228,116  2012  매출액
74   6        장원교육  1     7.6 0.8     20.4  매출액_2012   44,242  2012  매출액
75   7       노벨과개미  1    31.4 5.2     79.7  매출액_2012   10,146  2012  매출액
76   8  노벨아이(교수닷컴)  1    8.0 -2.2     30.9  매출액_2012   18,004  2012  매출액
77   1          교원  2    10.4 1.1     13.7  매출액_2012  487,534  2012  매출액
78   2   웅진씽크빅(전집)  2    9.4 -5.4    -32.1  매출액_2012  205,690  2012  매출액
79   3         예림당  2  26.6 -10.8    -14.4  매출액_2012   47,996  2012  매출액
80   4      프뢰벨미디어  2   30.4 -8.2    -26.1  매출액_2012   21,527  2012  매출액
81   5     재능이아카데미  2   23.3 10.2     28.1  매출액_2012   11,117  2012  매출액
82   6       삼성출판사  2     2.6 2.5    -58.1  매출액_2012   57,794  2012  매출액
83   7     한국헤르만헤세  2   7.0 -27.1     26.6  매출액_2012   18,805  2012  매출액
84   8      한국몬테소리  2    1.2 -7.0    -79.9  매출액_2012   51,421  2012  매출액
85   9        아가월드  2     4.1 7.1     흑자전환  매출액_2012   12,206  2012  매출액
86  10      베네세코리아  2    0.6 -3.4  8,000.0  매출액_2012   40,221  2012  매출액
87  11      프뢰벨하우스  2  -7.7 -11.9     적자전환  매출액_2012   42,335  2012  매출액
88   1        비상교육  3    18.5 6.8     33.0  매출액_2012  119,403  2012  매출액
89   2        천재교육  3    7.0 -5.0      3.2  매출액_2012  225,147  2012  매출액
90   3         미래엔  3     9.5 9.8     33.1  매출액_2012  132,126  2012  매출액
91   4        개념원리  3    33.9 0.0      2.1  매출액_2012   25,020  2012  매출액

In [93]:
cond1 = (df3["구분"] == "매출액")
df3_1 = df3.loc[cond1].rename(columns={"value":"매출액"})

In [94]:
df3_1

    순위         기업명 분류       영업이익율  영업이익증감율  variable      매출액    연도   구분
0    1        교원구몬  1   11.9 -3.0      4.2  매출액_2011  673,103  2011  매출액
1    2          대교  1    5.2 -2.8    -38.5  매출액_2011  793,665  2011  매출액
2    3  웅진씽크빅(학습지)  1    5.0 -0.9    -41.9  매출액_2011  394,630  2011  매출액
3    4        재능교육  1    3.4 -3.3    370.1  매출액_2011  251,908  2011  매출액
4    5        한솔교육  1    2.0 -7.5     흑자전환  매출액_2011  246,638  2011  매출액
5    6        장원교육  1     7.6 0.8     20.4  매출액_2011   43,895  2011  매출액
6    7       노벨과개미  1    31.4 5.2     79.7  매출액_2011    9,649  2011  매출액
7    8  노벨아이(교수닷컴)  1    8.0 -2.2     30.9  매출액_2011   18,413  2011  매출액
8    1          교원  2    10.4 1.1     13.7  매출액_2011  482,314  2011  매출액
9    2   웅진씽크빅(전집)  2    9.4 -5.4    -32.1  매출액_2011  217,371  2011  매출액
10   3         예림당  2  26.6 -10.8    -14.4  매출액_2011   53,787  2011  매출액
11   4      프뢰벨미디어  2   30.4 -8.2    -26.1  매출액_2011   23,455  2011  매출액
12   5     재능이아카데미  2   23.3 10.2     28.1  매출액_2011   10,089  2011  매출액
13   6       삼성출판사  2     2.6 2.5    -58.1  매출액_2011   56,384  2011  매출액
14   7     한국헤르만헤세  2   7.0 -27.1     26.6  매출액_2011   25,799  2011  매출액
15   8      한국몬테소리  2    1.2 -7.0    -79.9  매출액_2011   55,314  2011  매출액
16   9        아가월드  2     4.1 7.1     흑자전환  매출액_2011   11,394  2011  매출액
17  10      베네세코리아  2    0.6 -3.4  8,000.0  매출액_2011   41,651  2011  매출액
18  11      프뢰벨하우스  2  -7.7 -11.9     적자전환  매출액_2011   48,033  2011  매출액
19   1        비상교육  3    18.5 6.8     33.0  매출액_2011  111,835  2011  매출액
20   2        천재교육  3    7.0 -5.0      3.2  매출액_2011  236,886  2011  매출액
21   3         미래엔  3     9.5 9.8     33.1  매출액_2011  120,324  2011  매출액
22   4        개념원리  3    33.9 0.0      2.1  매출액_2011   25,015  2011  매출액
69   1        교원구몬  1   11.9 -3.0      4.2  매출액_2012  653,055  2012  매출액
70   2          대교  1    5.2 -2.8    -38.5  매출액_2012  771,528  2012  매출액
71   3  웅진씽크빅(학습지)  1    5.0 -0.9    -41.9  매출액_2012  391,022  2012  매출액
72   4        재능교육  1    3.4 -3.3    370.1  매출액_2012  242,530  2012  매출액
73   5        한솔교육  1    2.0 -7.5     흑자전환  매출액_2012  228,116  2012  매출액
74   6        장원교육  1     7.6 0.8     20.4  매출액_2012   44,242  2012  매출액
75   7       노벨과개미  1    31.4 5.2     79.7  매출액_2012   10,146  2012  매출액
76   8  노벨아이(교수닷컴)  1    8.0 -2.2     30.9  매출액_2012   18,004  2012  매출액
77   1          교원  2    10.4 1.1     13.7  매출액_2012  487,534  2012  매출액
78   2   웅진씽크빅(전집)  2    9.4 -5.4    -32.1  매출액_2012  205,690  2012  매출액
79   3         예림당  2  26.6 -10.8    -14.4  매출액_2012   47,996  2012  매출액
80   4      프뢰벨미디어  2   30.4 -8.2    -26.1  매출액_2012   21,527  2012  매출액
81   5     재능이아카데미  2   23.3 10.2     28.1  매출액_2012   11,117  2012  매출액
82   6       삼성출판사  2     2.6 2.5    -58.1  매출액_2012   57,794  2012  매출액
83   7     한국헤르만헤세  2   7.0 -27.1     26.6  매출액_2012   18,805  2012  매출액
84   8      한국몬테소리  2    1.2 -7.0    -79.9  매출액_2012   51,421  2012  매출액
85   9        아가월드  2     4.1 7.1     흑자전환  매출액_2012   12,206  2012  매출액
86  10      베네세코리아  2    0.6 -3.4  8,000.0  매출액_2012   40,221  2012  매출액
87  11      프뢰벨하우스  2  -7.7 -11.9     적자전환  매출액_2012   42,335  2012  매출액
88   1        비상교육  3    18.5 6.8     33.0  매출액_2012  119,403  2012  매출액
89   2        천재교육  3    7.0 -5.0      3.2  매출액_2012  225,147  2012  매출액
90   3         미래엔  3     9.5 9.8     33.1  매출액_2012  132,126  2012  매출액
91   4        개념원리  3    33.9 0.0      2.1  매출액_2012   25,020  2012  매출액

In [96]:
cond1 = (df3["구분"] == "영업이익")
df3_2 = df3.loc[cond1].rename(columns={'value':"영업이익"})

In [97]:
df3_2

     순위         기업명 분류       영업이익율  영업이익증감율   variable    영업이익    연도    구분
23    1        교원구몬  1   11.9 -3.0      4.2  영업이익_2011  74,512  2011  영업이익
24    2          대교  1    5.2 -2.8    -38.5  영업이익_2011  65,436  2011  영업이익
25    3  웅진씽크빅(학습지)  1    5.0 -0.9    -41.9  영업이익_2011  33,683  2011  영업이익
26    4        재능교육  1    3.4 -3.3    370.1  영업이익_2011   1,770  2011  영업이익
27    5        한솔교육  1    2.0 -7.5     흑자전환  영업이익_2011  -1,124  2011  영업이익
28    6        장원교육  1     7.6 0.8     20.4  영업이익_2011   2,795  2011  영업이익
29    7       노벨과개미  1    31.4 5.2     79.7  영업이익_2011   1,775  2011  영업이익
30    8  노벨아이(교수닷컴)  1    8.0 -2.2     30.9  영업이익_2011   1,096  2011  영업이익
31    1          교원  2    10.4 1.1     13.7  영업이익_2011  44,637  2011  영업이익
32    2   웅진씽크빅(전집)  2    9.4 -5.4    -32.1  영업이익_2011  19,623  2011  영업이익
33    3         예림당  2  26.6 -10.8    -14.4  영업이익_2011  14,930  2011  영업이익
34    4      프뢰벨미디어  2   30.4 -8.2    -26.1  영업이익_2011   8,840  2011  영업이익
35    5     재능이아카데미  2   23.3 10.2     28.1  영업이익_2011   2,026  2011  영업이익
36    6       삼성출판사  2     2.6 2.5    -58.1  영업이익_2011   3,643  2011  영업이익
37    7     한국헤르만헤세  2   7.0 -27.1     26.6  영업이익_2011   1,040  2011  영업이익
38    8      한국몬테소리  2    1.2 -7.0    -79.9  영업이익_2011   3,138  2011  영업이익
39    9        아가월드  2     4.1 7.1     흑자전환  영업이익_2011     -47  2011  영업이익
40   10      베네세코리아  2    0.6 -3.4  8,000.0  영업이익_2011       3  2011  영업이익
41   11      프뢰벨하우스  2  -7.7 -11.9     적자전환  영업이익_2011     734  2011  영업이익
42    1        비상교육  3    18.5 6.8     33.0  영업이익_2011  16,576  2011  영업이익
43    2        천재교육  3    7.0 -5.0      3.2  영업이익_2011  15,286  2011  영업이익
44    3         미래엔  3     9.5 9.8     33.1  영업이익_2011   9,379  2011  영업이익
45    4        개념원리  3    33.9 0.0      2.1  영업이익_2011   8,304  2011  영업이익
92    1        교원구몬  1   11.9 -3.0      4.2  영업이익_2012  77,640  2012  영업이익
93    2          대교  1    5.2 -2.8    -38.5  영업이익_2012  40,273  2012  영업이익
94    3  웅진씽크빅(학습지)  1    5.0 -0.9    -41.9  영업이익_2012  19,558  2012  영업이익
95    4        재능교육  1    3.4 -3.3    370.1  영업이익_2012   8,321  2012  영업이익
96    5        한솔교육  1    2.0 -7.5     흑자전환  영업이익_2012   4,477  2012  영업이익
97    6        장원교육  1     7.6 0.8     20.4  영업이익_2012   3,364  2012  영업이익
98    7       노벨과개미  1    31.4 5.2     79.7  영업이익_2012   3,190  2012  영업이익
99    8  노벨아이(교수닷컴)  1    8.0 -2.2     30.9  영업이익_2012   1,435  2012  영업이익
100   1          교원  2    10.4 1.1     13.7  영업이익_2012  50,767  2012  영업이익
101   2   웅진씽크빅(전집)  2    9.4 -5.4    -32.1  영업이익_2012  13,328  2012  영업이익
102   3         예림당  2  26.6 -10.8    -14.4  영업이익_2012  12,786  2012  영업이익
103   4      프뢰벨미디어  2   30.4 -8.2    -26.1  영업이익_2012   6,536  2012  영업이익
104   5     재능이아카데미  2   23.3 10.2     28.1  영업이익_2012   2,595  2012  영업이익
105   6       삼성출판사  2     2.6 2.5    -58.1  영업이익_2012   1,525  2012  영업이익
106   7     한국헤르만헤세  2   7.0 -27.1     26.6  영업이익_2012   1,317  2012  영업이익
107   8      한국몬테소리  2    1.2 -7.0    -79.9  영업이익_2012     630  2012  영업이익
108   9        아가월드  2     4.1 7.1     흑자전환  영업이익_2012     503  2012  영업이익
109  10      베네세코리아  2    0.6 -3.4  8,000.0  영업이익_2012     243  2012  영업이익
110  11      프뢰벨하우스  2  -7.7 -11.9     적자전환  영업이익_2012  -3,245  2012  영업이익
111   1        비상교육  3    18.5 6.8     33.0  영업이익_2012  22,038  2012  영업이익
112   2        천재교육  3    7.0 -5.0      3.2  영업이익_2012  15,776  2012  영업이익
113   3         미래엔  3     9.5 9.8     33.1  영업이익_2012  12,487  2012  영업이익
114   4        개념원리  3    33.9 0.0      2.1  영업이익_2012   8,475  2012  영업이익

- df3의 value열 : 매출액과 영업이익이 섞여있음
- df3_1의 value열: 매출액만  
- df3_2의 value열: 영업이익만

이 점이 바로 와닿지 않는다면 두 번정도 더 복습할 것

In [98]:
# df3_1은 기업명, 연도가 있다.
# df3_2도 기업명, 연도가 있다. 
# e.g. 11년도에도 기업명==교원구몬이 있고, 12년도에도 기업명==교원구몬이 있다. 
# 중복이 되므로, 기업명과 연도를 붙여서 고유값을 만들어주자.
# e.g. 11년도 교원구몬 영업이익, 12년도 교원구몬 영업이익