In [9]:
# 어떤 코드로 data를 살펴보셨는지 정리
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format # 소수점 이하 두자리까지만 출력
pd.set_option('display.max_columns', None) # 생략되는 컬럼이 없도록 설정
import numpy as np

In [2]:
pd._libs.parsers.STR_NA_VALUES # pd에서 결측값으로 처리하는 string 모임

{'',
 '#N/A',
 '#N/A N/A',
 '#NA',
 '-1.#IND',
 '-1.#QNAN',
 '-NaN',
 '-nan',
 '1.#IND',
 '1.#QNAN',
 '<NA>',
 'N/A',
 'NA',
 'NULL',
 'NaN',
 'n/a',
 'nan',
 'null'}

- \ 를 붙이면 줄바꿔도 에러가 발생하지 않는다:
> df1[["Sales_Type", "Term", "Product_Type", "Overdue_count"]]\\
.sort_values(by="Term", ascending=False).head(50)

## pd.read_csv
일단 default로 불러와서 어떤 option을 변경해야 할지 파악한다
- names = ["Date", "col"]
- parse_dates = ["Date"]
- index_col = "Date"

## df.describe
사람이 보기 편하기 위한 반올림
- round(df.describe(), 2)
- pd.options.display.float_format = '{:.2f}'.format

### Datetimeindex

- 기간 : df.index.max() - df.index.min()
- start date: df.index.min()
- end date: df.index.max()
- df["col2"] = pd.to_datetime(df["col1"], format="형식")

## df.count
- For each column/row the number of non-NA/null entries.
- descirbe()의 count값과 유사하다.

## pd.DataFrame.isnull().sum()
- pd.DataFrame.isna().sum()
- df.copy()
> pd.dropna(inplace=True)
-

In [7]:
# 26971분의 출처? 결측기간은 총 몇 분인가?
# 26971분은 18.7일이다.
26971/60/24
# 26971분은 전체기간의 0.01%이다.
# 따라서 결측기간 data를 날려도 된다.
#26971 / len(df_)

18.72986111111111

## seaborn
sns.distplot(data, y, hue, multiple, aspect) : **null 처리 전**
> - data = df.isna().melt(value_name="missing"),
> - y = "variable"
> - hue = "missing"
> - multiple = "fill"
> - aspect = 2.25
- melt 넣으면 runtime이 길어진다.
- - sns.distplot(data, y, hue, multiple, aspect) : **null 처리 후**
> - data = df.dropna().isna().melt(value_name="missing),
> - y = "variable"
> - hue = "missing"
> - multiple = "fill"
> - aspect = 2.25

### sns.countplot
요일별 sample 개수를 bar chart로
- data: df1
- x : "주문요일"

### sns.lineplot
일별 상품 구매 금액의 총합(매출)
- data: df1
- x: "주문일(datetime)"
- y: "상품구매금액"
- estimator: "sum"

## matplotlib
- plt.style.use("ggplot")
- plt.rc("font", family="NanumGothic") : minus sign 미지원
- %matplotlib tk : figure를 밖으로 빼기 (loop 불가)
- %matplotlib inline : figure를 안으로 넣기 (loop 가능)

### plt.plot
- array : pd.Series
- alpha: float
- c: str
- label: str
- plt.legend(loc = 'upper right')

plt.figure(figsize=(13, 5))
plt.title("Origin col1", fontsize=14)
plt.plot(df["col1"])
plt.scatter(df.index, df["col1"], s=30, c='green')
plt.show()

### plt.twinx().plot()
- array: pd.Series
- c: str
- label: str

## col 시각화

Series 시각화: 
for i in df_.columns:
    plt.plot(df_[i], label=i)
    plt.legend()
    plt.show()

for i in df_.columns:
    print(i)

## indexing

새로운 변수 df_n에 assign
- df[df["col1"] < int]]["col1"] : pd.Series를 리턴
- df.filter(items={"col1"})
- df[df["col1"].between(n, m)]["col1"]
- df["pct"] = df["col1"].pct_change(periods=5)
> - df[df["pct"].between(r, s)]
> - plt.plot(df["col1"])
> - plt.twtinx().plot(df["pct"])
> - df[df["pct"] < float]
- df_.loc[:, "col1"].to_frame()

### Correlation 마스크
mask = np.zeros_like(df_111.corr(), dtype=bool)
mask[np.triu_indices_from(mask)] = True
sns.heatmap(df.corr(), annot=True, mask=mask)

## df.filter(items)
Subset the dataframe rows or columns according to the specified index labels.
- items : Keep labels from axis which are in items
- see also: DataFrame.loc

In [10]:
# e.g.
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
index=['mouse', 'rabbit'],
columns=['one', 'two', 'three'])
df

        one  two  three
mouse     1    2      3
rabbit    4    5      6

In [11]:
#select columns by name
df.filter(items=['one', 'three'])

        one  three
mouse     1      3
rabbit    4      6

In [12]:
#Subset the dataframe rows or columns according to the specified index labels.
#help(pd.DataFrame.filter)

### [pd.Series.to_frame](https://pandas.pydata.org/docs/reference/api/pandas.Series.to_frame.html)
- Convert Series to DataFrame

### pd.DataFrame.pct_change
Percentage change between the current and a prior element
- periods: Periods to shift for forming percent change
- Make and return a second axes that shares the *x*-axis. <br> The new axes will
    overlay *ax* (or the current axes if *ax* is *None*), and its ticks will be
    on the right.