In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

Fireshot은 크롬 브라우저에서 사용할 수 있는 화면 캡처 및 스크린샷 도구입니다. 아래는 Fireshot의 기본 사용법입니다:

1. Fireshot 설치: 크롬 웹 스토어에서 Fireshot 확장 프로그램을 검색하고 설치합니다.

2. 화면 캡처: Fireshot 아이콘을 클릭하거나 키보드 단축키(F12)를 사용하여 Fireshot을 활성화합니다. 그 후 다음 중 하나의 방법으로 화면을 캡처할 수 있습니다:
   - 전체 화면 캡처: "Capture entire page"을 선택하거나 `Ctrl + Shift + E`를 누릅니다.
   - 선택 영역 캡처: "Capture selection"을 선택하거나 `Ctrl + Shift + S`를 누릅니다. 마우스로 캡처하려는 영역을 드래그합니다.
   - 스크롤 영역 캡처: "Capture region"을 선택하거나 `Ctrl + Shift + R`를 누릅니다. 화면에서 스크롤이 가능한 영역을 선택하면 Fireshot이 자동으로 스크롤하여 전체 내용을 캡처합니다.

3. 캡처 편집: 캡처된 이미지가 Fireshot 편집 창에 열립니다. 여기에서 다양한 편집 도구와 기능을 사용하여 이미지를 편집할 수 있습니다. 텍스트 추가, 모자이크 처리, 화살표 및 도형 그리기, 하이라이트 등의 작업을 수행할 수 있습니다.

4. 저장 및 공유: 편집이 완료되면 Fireshot에서 이미지를 저장하거나 원하는 형식(PNG, JPEG, PDF 등)으로 내보낼 수 있습니다. 또한 Fireshot을 통해 이미지를 소셜 미디어에 공유할 수도 있습니다.

Fireshot은 다양한 고급 기능과 옵션도 제공하므로 사용자 맞춤 설정 및 기능 활용을 위해 설정 메뉴를 살펴보는 것이 좋습니다.

{name: i for i, name inenumerate(label_columns)}

sns.violinplot(x="Column", y="Normalized", data=df_std) <br>
_ = ax.set_xticklabels(df.keys(), rotation=90)

plt.step(f_per_year, np.abs(fft)

tf.signal.rfft(df4["T (degC)"])

date_time.map(pd.Timestamp.timestamp)

plt.colorbar()

plt.gca()

plt.hist2d(x, y, bins=(50, 50), vmax=400)

df.describe().transpose()

df.plot(subplots=True)

df.pop('Date Time')
[pop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pop.html) 
> Return item and drop from frame. Raise KeyError if not found.

In [4]:
df = pd.DataFrame([('falcon', 'bird', 389.0),
             ('parrot', 'bird', 24.0),
             ('monkey', 'animal', np.nan)],
            columns=('name', 'class', 'max_speed'))

In [5]:
df

     name   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2  monkey  animal        NaN

In [6]:
df.pop('class')

0      bird
1      bird
2    animal
Name: class, dtype: object

In [7]:
df

     name  max_speed
0  falcon      389.0
1  parrot       24.0
2  monkey        NaN

df[start:stop:step]: tarting from index 5 take every 6th record.
>

tf.keras.utils.get_file(origin, fname, extract)
> os.path.splitext(zip_path)

matplotlib 설정
- plt.rcParams['agg.path.chunksize'] = 1000
- mpl.rcParams['axes.unicode_minus'] = False 
> 한글폰트사용시 마이너스 글자가 깨지는 현상을 처리
- mpl.rcParams['font.family'] = 'Malgun Gothic'
> windows 폰트 설정
- mpl.rcParams['font.size'] = 15
> 글자 크기
- mpl.rcParams["figure.figsize"] = (20,10)
- mpl.rcParams['lines.linewidth'] = 1

df.rename(columns={}, inplace)
> column 이름 변경

df.interpolate()
> 선형 보간법

아래는 Jupyter Notebook에서 유용한 단축키들의 목록입니다:

1. **Shift + Enter**: 현재 셀 실행 및 다음 셀로 이동
2. **Ctrl + Enter**: 현재 셀 실행
3. **Alt + Enter**: 현재 셀 실행 후 새로운 셀 추가
4. **Esc**: 셀 편집 모드에서 노트북 모드로 전환
5. **Enter**: 노트북 모드에서 셀 편집 모드로 전환
6. **A**: 현재 셀 위에 새로운 셀 추가
7. **B**: 현재 셀 아래에 새로운 셀 추가
8. **X**: 현재 셀 삭제
9. **Z**: 셀 삭제 취소
10. **M**: 현재 셀을 Markdown 셀로 변경
11. **Y**: 현재 셀을 Code 셀로 변경
12. **Ctrl + S**: 노트북 저장
13. **Shift + Tab**: 현재 커서 위치에서 함수나 메소드에 대한 도움말 보기
14. **Shift + Tab + Tab**: 함수나 메소드에 대한 상세 도움말 보기
15. **Ctrl + Shift + -**: 현재 커서 위치에서 셀 분할
16. **Ctrl + /**: 주석 추가 및 제거

위의 단축키들은 Jupyter Notebook에서 기본적으로 제공되는 것들입니다. 추가적인 단축키는 Jupyter Notebook 설정에서 확인할 수 있습니다. 이러한 단축키들을 사용하여 더 효율적으로 Jupyter Notebook을 활용할 수 있습니다.

### os.makedirs(name, exist_ok)
- name: MODEL_DIR
- exist_ok: True이면 존재하지 않을 때만 mkdir 한다. 존재하면 error 없이 넘어간다.
- 따라서 os.mkdir를 사용하려면 if not os.path.exits(MODEL_DIR)이 필요하고 os.makedirs를 사용할거라면 존재여부 파악이 필요 없다.

### model.compile()
- metrics: List of metrics to be evaluated by the model during training and testing. Each of these can be a string (name of a built-in function), function, or a `tf.keras.metrics.Metric` instance. See `tf.keras.metrics`. Typically, you will use `metrics=['accuracy']`.

-keras.utils.to_categorical(
    y, num_classes=None, dtype='float32'
)

### plt.legend(bbox_to_anchor)

bbox_to_anchor : `.BboxBase`, 2-tuple, or 4-tuple of floats
    Box that is used to position the legend in conjunction with *loc*.
    Defaults to `axes.bbox` (if called as a method to `.Axes.legend`) or
    `figure.bbox` (if `.Figure.legend`).  This argument allows arbitrary
    placement of the legend.

df.select_dtypes(include=np.number)

#### MODEL_DIR = "./saved_models/"일 때, os.makedirs(MODEL_DIR, exist_ok=True) 를 사용하면 os.path.exists(MODEL_DIR)가 필요 없다.
맞습니다. `os.makedirs()` 함수에 `exist_ok=True` 옵션을 사용하면, 이미 디렉토리가 존재하는 경우에도 에러를 발생시키지 않고 넘어갑니다. 따라서, `os.path.exists(MODEL_DIR)`로 디렉토리의 존재 여부를 확인할 필요가 없습니다.

`os.makedirs(MODEL_DIR, exist_ok=True)`는 다음과 같은 동작을 수행합니다:

- 만약 `MODEL_DIR`에 해당하는 디렉토리가 이미 존재하면, 아무런 작업을 하지 않고 넘어갑니다.
- 만약 `MODEL_DIR`에 해당하는 디렉토리가 존재하지 않으면, 새로운 디렉토리를 생성합니다.

따라서, `os.path.exists(MODEL_DIR)`를 사용하여 디렉토리의 존재 여부를 확인하는 대신에 `os.makedirs(MODEL_DIR, exist_ok=True)`를 사용하여 디렉토리를 생성하는 것이 간편하고 효율적입니다.

MODEL_DIR
> model에서 saved_models로 변경함

`.`, `./`, 그리고 `/`는 파일 경로를 지정하는데 사용되는 특수한 기호입니다. 아래에 각 기호의 의미를 설명하겠습니다:

1. `.` (닷): 현재 작업 디렉토리를 나타냅니다. 즉, `.`은 현재 디렉토리를 의미합니다. 파일 경로에서 `.`을 사용하면 현재 디렉토리를 참조하는 것을 의미합니다.

2. `./` (닷 슬래시): 현재 디렉토리를 기준으로 상대적인 경로를 지정합니다. `./`은 현재 디렉토리를 나타내는 것으로, 파일 경로에서 `./`을 사용하면 현재 디렉토리에서부터 상대적인 경로를 지정하는 것을 의미합니다.

3. `/` (슬래시): 절대 경로를 나타냅니다. `/`는 파일 시스템의 루트 디렉토리를 의미하며, 파일 경로에서 `/`를 사용하면 파일 시스템의 루트 디렉토리에서부터 절대적인 경로를 지정하는 것을 의미합니다.

따라서, `./model/`은 현재 디렉토리에서부터 상대적인 경로로 `model`이라는 이름의 디렉토리를 의미합니다. `./`을 생략하고 `/model/`로 작성해도 동일한 의미가 됩니다.

- binary classification problem
> LabelEncoder & model.compile(loss="binary_crossentropy")

- multi-class classification problem
> 1-HOT encoding & model.compile(loss="categorical_crossentropy")

In [9]:
# 어떤 코드로 data를 살펴보셨는지 정리
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format # 소수점 이하 두자리까지만 출력
pd.set_option('display.max_columns', None) # 생략되는 컬럼이 없도록 설정
import numpy as np

In [2]:
pd._libs.parsers.STR_NA_VALUES # pd에서 결측값으로 처리하는 string 모임

{'',
 '#N/A',
 '#N/A N/A',
 '#NA',
 '-1.#IND',
 '-1.#QNAN',
 '-NaN',
 '-nan',
 '1.#IND',
 '1.#QNAN',
 '<NA>',
 'N/A',
 'NA',
 'NULL',
 'NaN',
 'n/a',
 'nan',
 'null'}

plt.imshow
- cmap : str or `~matplotlib.colors.Colormap`, default: :rc:`image.cmap`
    The Colormap instance or registered colormap name used to map scalar data
    to colors.

    This parameter is ignored if *X* is RGB(A).

plt.axis
- option : bool or str
    If a bool, turns axis lines and labels on or off. If a string,
    possible values are:

| Value   | Description                                                                                     |
|---------|-------------------------------------------------------------------------------------------------|
| 'on'    | Turn on axis lines and labels. Same as `True`.                                                  |
| 'off'   | Turn off axis lines and labels. Same as `False`.                                                |
| 'equal' | Set equal scaling (i.e., make circles circular) by changing axis limits.                        |
|         | This is the same as `ax.set_aspect('equal', adjustable='datalim')`.                             |
|         | Explicit data limits may not be respected in this case.                                         |
| 'scaled'| Set equal scaling (i.e., make circles circular) by changing dimensions of the plot box.         |
|         | This is the same as `ax.set_aspect('equal', adjustable='box', anchor='C')`.                     |
|         | Additionally, further autoscaling will be disabled.                                             |
| 'tight' | Set limits just large enough to show all data, then disable further autoscaling.                 |
| 'auto'  | Automatic scaling (fill plot box with data).                                                    |
| 'image' | 'scaled' with axis limits equal to data limits.                                                  |
| 'square'| Square plot; similar to 'scaled', but initially forcing `xmax-xmin == ymax-ymin`.               |

anacondata prompt
- conda install pydot
- condata install graphviz

- \ 를 붙이면 줄바꿔도 에러가 발생하지 않는다:
> df1[["Sales_Type", "Term", "Product_Type", "Overdue_count"]]\\
.sort_values(by="Term", ascending=False).head(50)

pd.DataFrame.sample
> df에서 정해진 비율만큼 row를 랜덤하게 뽑아오는 함수

## pd.read_csv
일단 default로 불러와서 어떤 option을 변경해야 할지 파악한다
- names = ["Date", "col"]
- parse_dates = ["Date"]
- index_col = "Date"


- UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb0 in position 0: invalid start byte
> encoding="cp949"를 add 하면 해결됨

## df.describe
사람이 보기 편하기 위한 반올림
- round(df.describe(), 2)
- pd.options.display.float_format = '{:.2f}'.format

### Datetimeindex

- 기간 : df.index.max() - df.index.min()
- start date: df.index.min()
- end date: df.index.max()
- df["col2"] = pd.to_datetime(df["col1"], format="형식")
- df1["주문연도"] = df1["주문일(dt)"].dt.year
- df1["주문월"] = df1["주문일(dt)"].dt.month
- df1["주문주차"] = df1["주문일(dt)"].dt.isocalendar().week
- df1["주문요일"] = df1["주문일(dt)"].dt.day_name()

#### pd.to_datetime(ser, format)
- ser : 날자 데이터 pd.Series
- format: 날짜 데이터 string의 [format](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)
> - %Y: Year with century as a decimal number.
> - %m: Month as a **zero-padded** decimal number.
> - %d:Day of the month as a **zero-padded** decimal number.

## df.count
- For each column/row the number of non-NA/null entries.
- descirbe()의 count값과 유사하다.

## pd.DataFrame.isnull().sum()
- pd.DataFrame.isna().sum()
- df.copy()
> pd.dropna(inplace=True)
-

In [7]:
# 26971분의 출처? 결측기간은 총 몇 분인가?
# 26971분은 18.7일이다.
26971/60/24
# 26971분은 전체기간의 0.01%이다.
# 따라서 결측기간 data를 날려도 된다.
#26971 / len(df_)

18.72986111111111

## seaborn
sns.distplot(data, y, hue, multiple, aspect) : **null 처리 전**
> - data = df.isna().melt(value_name="missing"),
> - y = "variable"
> - hue = "missing"
> - multiple = "fill"
> - aspect = 2.25
- melt 넣으면 runtime이 길어진다.
- - sns.distplot(data, y, hue, multiple, aspect) : **null 처리 후**
> - data = df.dropna().isna().melt(value_name="missing),
> - y = "variable"
> - hue = "missing"
> - multiple = "fill"
> - aspect = 2.25

### sns.countplot
요일별 sample 개수를 bar chart로
- data: df1
- x : "주문요일"

### sns.lineplot
일별 상품 구매 금액의 총합(매출)
- data: df1
- x: "주문일(datetime)"
- y: "상품구매금액"
- estimator: "sum"

## matplotlib
- plt.style.use("ggplot")
- plt.rc("font", family="NanumGothic") : minus sign 미지원
- %matplotlib tk : figure를 밖으로 빼기 (loop 불가)
- %matplotlib inline : figure를 안으로 넣기 (loop 가능)

### plt.plot
- array : pd.Series
- alpha: float
- c: str
- label: str
- plt.legend(loc = 'upper right')

plt.figure(figsize=(13, 5))
plt.title("Origin col1", fontsize=14)
plt.plot(df["col1"])
plt.scatter(df.index, df["col1"], s=30, c='green')
plt.show()

### plt.twinx().plot()
- array: pd.Series
- c: str
- label: str

## col 시각화

Series 시각화: 
for i in df_.columns:
    plt.plot(df_[i], label=i)
    plt.legend()
    plt.show()

for i in df_.columns:
    print(i)

## indexing

새로운 변수 df_n에 assign
- df[df["col1"] < int]]["col1"] : pd.Series를 리턴
- df.filter(items={"col1"})
- df[df["col1"].between(n, m)]["col1"]
- df["pct"] = df["col1"].pct_change(periods=5)
> - df[df["pct"].between(r, s)]
> - plt.plot(df["col1"])
> - plt.twtinx().plot(df["pct"])
> - df[df["pct"] < float]
- df_.loc[:, "col1"].to_frame()

### Correlation 마스크
mask = np.zeros_like(df_111.corr(), dtype=bool)
mask[np.triu_indices_from(mask)] = True
sns.heatmap(df.corr(), annot=True, mask=mask)

## df.filter(items)
Subset the dataframe rows or columns according to the specified index labels.
- items : Keep labels from axis which are in items
- see also: DataFrame.loc

In [10]:
# e.g.
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
index=['mouse', 'rabbit'],
columns=['one', 'two', 'three'])
df

        one  two  three
mouse     1    2      3
rabbit    4    5      6

In [11]:
#select columns by name
df.filter(items=['one', 'three'])

        one  three
mouse     1      3
rabbit    4      6

In [12]:
#Subset the dataframe rows or columns according to the specified index labels.
#help(pd.DataFrame.filter)

### [pd.Series.to_frame](https://pandas.pydata.org/docs/reference/api/pandas.Series.to_frame.html)
- Convert Series to DataFrame

### pd.DataFrame.pct_change
Percentage change between the current and a prior element
- periods: Periods to shift for forming percent change
- Make and return a second axes that shares the *x*-axis. <br> The new axes will
    overlay *ax* (or the current axes if *ax* is *None*), and its ticks will be
    on the right.