In [1]:
a = 100
b = 200
a + b

300

# Pandas 라이브러리
- Series 구조와 DataFrame 구조 이해하기
- Series 구조 : index(순서) - value(값)으로 구성되어 있는 데이터 구조
- Series 특징: 하나의 Series에 한 개의 데이터 타입만 올 수 있다. (dtype: int64) (기본적인 원칙)
- 64 : 메모리 bit수
- Ser로 데이터를 만들어 놓으면 통계적인 연산을 하려할 때 오류가 생기지 않음 (문자가 없어지기 때문)

In [3]:
import pandas as pd # Pandas 라이브러리를 불러온다.

In [5]:
# list를 넣으면 Series가 나온다.
s1 = pd.Series([10, 20, 30, 40])
s1

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
s1.sum() # 통계연산 1

100

In [8]:
# 문자가 하나 들어가면 object 데이터가 된다.
s2 = pd.Series([10, 20, 30, 'a'])
s2

0    10
1    20
2    30
3     a
dtype: object

In [11]:
#s2.sum() # 통계 연산이 안된다.

In [12]:
s3 = pd.Series([10, 20, 30, 40, 50])

In [16]:
# 주피터 cell의 특징 : 마지막 변수만 출력됨. 그래서 print 붙여야 모두 볼 수 있음
# print 사용하면 out[n]이 없어짐
# 여러 통계 연산값 동시에 확인하기
print(s3.sum())
print(s3.mean())
print(s3.min())
print(s3.max())

150
30.0
10
50

In [18]:
# index와 value로 이루어진 data structure이다.
# Python의 data structure, Pandas의 ds

- DataFrame: index-column-value'
> recall Ser가 index와 value의 pair구조였다. Ser들이 한곳에 모인게 df이다라고 이해할 것. (vct, mtx)

In [23]:
# Ser 3개가 df 1개 구성했다.
df = pd.DataFrame({'이름': ["홍길동", "이몽룡", "성춘향"],
              "나이": [10, 20, 30],
              "주소": ["서울", "경기", "강원"]})

In [24]:
df

    이름  나이  주소
0  홍길동  10  서울
1  이몽룡  20  경기
2  성춘향  30  강원

In [29]:
# ser로 뽑아내면 통계적 연산이 가능해진다.
# df의 ser 뽑아보기

In [27]:
df["이름"]

0    홍길동
1    이몽룡
2    성춘향
Name: 이름, dtype: object

In [28]:
df["나이"]

0    10
1    20
2    30
Name: 나이, dtype: int64

In [30]:
df["나이"].mean()

20.0

In [31]:
# 데이터를 직접 입력했다.
# 다음 시간부터 데이터를 불러와서 사용한다.