In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv("02_VIP_member_Data.csv")

In [6]:
# 구조와 타입 확인
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             6519 non-null   int64
 1   State          6519 non-null   object
 2   Address        6519 non-null   object
 3   Gender         6518 non-null   object
 4   Age            6518 non-null   float64
 5   총구매금액          6519 non-null   int64
 6   총구매수량          6519 non-null   float64
 7   1회방문시구매금액(평균)  6519 non-null   int64
 8   배송서비스신청여부      6519 non-null   object
 9   모바일알람여부        6519 non-null   object
 10  VIP회원          6519 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 560.4+ KB

### VIP 고객이면서 모바일 알람여부 신청한 고객 데이터만 filtering하고 파일로 저장하기
- 간단하지만 자주하는 업무 : 내가 원하는 데이터만 뽑아서 파일로 저장하기
- 처리한 데이터는 파일로 저장해서 다른 사람에게 공유해야 한다.

In [11]:
cond1 = (df1["VIP회원"] == "VIP")
cond2 = (df1["모바일알람여부"] == "수신")
df2 = df1.loc[cond1 & cond2]

In [14]:
# 데이터파일로 저장
#df2.to_excel("vip_merber.xlsx")

### VIP회원이 VIP이지만 총구매금액이 낮은 고객 데이터 찾기

In [16]:
df1[cond1]

,ID,State,Address,Gender,Age,총구매금액,총구매수량,1회방문시구매금액(평균),배송서비스신청여부,모바일알람여부,VIP회원
0,272369856,정상회원,수지구,여,45.0,5733884,546.5,47782,미신청,수신,VIP
5,176912064,정상회원,수지구,여,69.0,8028076,716.0,62719,미신청,.,VIP
10,1343359808,정상회원,수지구,여,49.0,13894023,1574.0,100681,미신청,수신,VIP
11,757812224,정상회원,수지구,여,55.0,12637762,1528.2,70999,미신청,수신,VIP
20,383356800,정상회원,수지구,여,47.0,8882881,1112.2,60842,미신청,수신,VIP
...,...,...,...,...,...,...,...,...,...,...,...
1489,264533824,정상회원,분당구,여,58.0,5834274,510.5,47822,미신청,수신,VIP
1503,279008768,정상회원,수지구,여,64.0,7946447,746.4,60200,미신청,.,VIP
1976,1550662016,정상회원,수지구,남,65.0,8117079,983.0,69377,미신청,.,VIP
3217,125287424,정상회원,수지구,여,49.0,14666195,1560.4,81029,미신청,수신,VIP
3528,241038720,정상회원,수지구,여,62.0,6403104,713.9,55679,미신청,.,VIP