In [1]:
11

11

In [6]:
import pandas as pd
pd.options.display.float_format = "{:.2f}".format

In [4]:
df = pd.read_csv("01_Contract_data.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

In [7]:
# numeric describe
df.describe()

,Index,Member_ID,Term,Amount_Month,Age,Overdue_count,Credit_Rank
count,51301.00,51301.00,51301.00,51301.00,44329.00,51301.00,42520.00
mean,25651.70,62664315.68,55.64,93994.97,50.02,0.16,3.43
std,14809.83,12161463.50,12.01,15304.26,10.98,1.12,2.21
min,1.00,25687984.00,12.00,54603.00,25.00,0.00,0.00
25%,12826.00,66431475.00,60.00,81900.00,42.00,0.00,1.00
50%,25652.00,66765775.00,60.00,96900.00,49.00,0.00,3.00
75%,38477.00,66781602.00,60.00,98400.00,57.00,0.00,5.00
max,51302.00,66969860.00,60.00,215700.00,102.00,15.00,10.00

In [13]:
# categorical describe
df.describe(include="object")

,Sales_Type,Contract_Type,Channel,Datetime,Payment_Type,Product_Type,Customer_Type,Address1,Address2,State,Overdue_Type,Gender,Bank
count,51301,51301,51301,51301,51301,51301,51299,51299,51299,51301,51301,51301,48542
unique,2,9,16,577,5,6,2,8,14,4,2,2,47
top,렌탈,프로모션계약,영업방판,2019-01-31,CMS,DES-1,개인,경기도,경기도,계약확정,없음,여자,롯데카드
freq,46483,15811,23767,1167,32825,39133,46263,18353,14883,50620,49110,35602,9516

In [11]:
# categorical 
df["Contract_Type"].unique()

array(['일반계약', '교체계약', '멤버십3유형', '프로모션계약', '패키지계약', '멤버십1유형', '멤버십4유형',
       '단체계약', '멤버십2유형'], dtype=object)

In [14]:
df["Contract_Type"].value_counts()

프로모션계약    15811
일반계약      15321
패키지계약     10186
교체계약       4975
멤버십3유형     2627
멤버십2유형     2086
단체계약        190
멤버십4유형       92
멤버십1유형       13
Name: Contract_Type, dtype: int64

In [21]:
# Contract_Type이 "교체계약"인 데이터만 filtering
df["Contract_Type"] == "교체계약" # boolean

0        False
1         True
2        False
3        False
4        False
         ...
51296    False
51297    False
51298    False
51299    False
51300    False
Name: Contract_Type, Length: 51301, dtype: bool

In [28]:
df.loc[df["Contract_Type"] == "교체계약"]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.00,경기도,경기도,계약확정,0,없음,남자,2.00,현대카드
29,30,66419239,렌탈,교체계약,영업방판,2019-04-08,60,CMS,DES-1,96900,개인,38.00,경기도,경기도,계약확정,0,없음,여자,NaN,국민은행
44,45,66211709,렌탈,교체계약,영업방판,2019-12-19,60,CMS,DES-1,96900,개인,65.00,서울특별시,서울특별시,계약확정,0,없음,남자,4.00,농협회원조합
45,46,66135112,렌탈,교체계약,영업방판,2019-06-20,60,CMS,DES-1,96900,개인,51.00,서울특별시,서울특별시,계약확정,0,없음,여자,1.00,신한은행
55,56,25856039,렌탈,교체계약,영업방판,2019-05-01,60,CMS,DES-1,96900,사업자,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,농협중앙회
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51232,51234,66231054,렌탈,교체계약,영업방판,2019-03-07,60,CMS,DES-1,96900,개인,40.00,경상도,울산광역시,계약확정,0,없음,남자,1.00,경남은행
51273,51275,66814025,렌탈,교체계약,대형마트A,2019-10-23,60,CMS,DES-1,96900,개인,39.00,충청도,대전광역시,계약확정,0,없음,여자,1.00,신한은행
51283,51285,66387839,렌탈,교체계약,대형마트A,2019-07-31,60,CMS,DES-1,96900,개인,49.00,경상도,부산광역시,계약확정,0,없음,여자,NaN,하나은행
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.00,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51289,51291,66441028,렌탈,교체계약,대형마트A,2020-01-16,60,CMS,DES-2,78900,개인,56.00,경기도,경기도,계약확정,0,없음,남자,1.00,롯데카드

In [23]:
# Amount_Month가 150000 이상인 데이터만 filtering
df["Amount_Month"] >= 150000

0        False
1        False
2        False
3        False
4        False
         ...
51296    False
51297    False
51298    False
51299    False
51300    False
Name: Amount_Month, Length: 51301, dtype: bool

In [27]:
df.loc[df["Amount_Month"] >= 150000]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
205,206,25777820,렌탈,프로모션계약,직영유통사,2019-03-25,36,가상계좌,DES-1,180750,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,NaN
206,207,25777820,렌탈,프로모션계약,직영유통사,2019-03-25,36,가상계좌,DES-1,180750,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,NaN
207,208,25777820,렌탈,프로모션계약,직영유통사,2019-01-05,36,가상계좌,DES-1,180750,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,NaN
233,234,66758193,렌탈,프로모션계약,영업방판,2019-05-08,39,카드이체,MMC,185700,개인,54.00,충청도,충청도,계약확정,0,없음,남자,6.00,롯데카드
328,329,25742694,렌탈,프로모션계약,대형마트E,2020-03-06,39,CMS,MMC,185700,사업자,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,기업은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50381,50383,66798387,렌탈,프로모션계약,영업방판,2019-02-24,39,카드이체,MMC,185700,개인,37.00,경기도,경기도,계약확정,0,없음,남자,3.00,롯데카드
50464,50466,66758303,렌탈,프로모션계약,대형마트A,2019-04-03,39,CMS,MMC,185700,개인,53.00,서울특별시,서울특별시,계약확정,0,없음,남자,1.00,국민은행
50752,50754,66798515,렌탈,프로모션계약,영업방판,2019-02-28,39,CMS,MMC,185700,개인,37.00,서울특별시,서울특별시,계약확정,8,있음,남자,6.00,농협회원조합
50951,50953,25736066,렌탈,프로모션계약,영업방판,2020-07-24,39,CMS,MMC,185700,사업자,NaN,서울특별시,서울특별시,계약확정,8,있음,여자,NaN,신한은행
51187,51189,66799273,렌탈,프로모션계약,전단홍보,2019-06-09,39,CMS,MMC,185700,개인,58.00,전라도,광주광역시,계약확정,0,없음,남자,NaN,농협중앙회

In [29]:
# Overdue_count(연체건수)가 5회 이상인 데이터만 filtering
df.loc[df["Overdue_count"] >= 5]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.00,경기도,경기도,기간만료,12,있음,남자,8.00,농협회원조합
61,62,66758851,렌탈,일반계약,영업방판,2019-01-04,60,CMS,DES-R4,126900,개인,27.00,경기도,인천광역시,계약확정,12,있음,남자,5.00,농협중앙회
95,96,25751808,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-3A,90900,사업자,NaN,경기도,경기도,계약확정,15,있음,여자,NaN,기업은행
341,342,66758501,렌탈,프로모션계약,영업방판,2019-01-02,39,카드이체,ERA,120900,개인,38.00,경상도,부산광역시,계약확정,15,있음,여자,8.00,국민카드
347,348,66689896,렌탈,프로모션계약,영업방판,2020-07-22,60,CMS,DES-2,90900,개인,55.00,서울특별시,서울특별시,계약확정,15,있음,여자,7.00,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51044,51046,66796493,렌탈,프로모션계약,대형마트A,2019-02-24,60,CMS,DES-1,105900,개인,35.00,서울특별시,서울특별시,계약확정,5,있음,남자,NaN,국민은행
51145,51147,25731398,렌탈,프로모션계약,영업방판,2019-12-19,60,CMS,DES-3A,108900,사업자,NaN,경기도,인천광역시,계약확정,11,있음,여자,NaN,국민은행
51175,51177,66798828,렌탈,프로모션계약,전문매장H,2019-03-19,60,CMS,DES-1,96900,개인,49.00,경상도,대구광역시,계약확정,11,있음,남자,7.00,대구은행
51176,51178,66787756,렌탈,프로모션계약,영업방판,2019-07-07,39,CMS,ERA,126900,개인,NaN,충청도,충청도,계약확정,11,있음,여자,NaN,농협회원조합
51291,51293,25731743,렌탈,일반계약,영업방판,2020-02-12,60,CMS,DES-3A,102900,사업자,NaN,경기도,경기도,계약확정,10,있음,여자,NaN,농협중앙회

In [39]:
df["Address1"].unique()

array(['경기도', '경상도', '전라도', '충청도', '강원도', '서울특별시', '제주도', nan, '광주광역시'],
      dtype=object)

In [40]:
df["Address1"].value_counts()

경기도      18353
경상도      12657
서울특별시     9038
충청도       4871
전라도       4698
강원도       1244
제주도        437
광주광역시        1
Name: Address1, dtype: int64

In [41]:
df.describe(include="object")["Address1"]

count     51299
unique        8
top         경기도
freq      18353
Name: Address1, dtype: object

In [47]:
df["Address1"] == "경기도"

0         True
1         True
2         True
3         True
4         True
         ...
51296     True
51297     True
51298    False
51299    False
51300    False
Name: Address1, Length: 51301, dtype: bool

In [56]:
df["Overdue_count"] >= 5

0        False
1        False
2        False
3        False
4         True
         ...
51296    False
51297    False
51298    False
51299    False
51300    False
Name: Overdue_count, Length: 51301, dtype: bool

In [61]:
# boolean Series
# 왜 tuple로 안하면 error가 발생하는지 모르겠다.
# 왜 &가 아닌 and OPERATOR 사용하면 error가 발생하는지 모르겠다.
# df의 모든 idx에 대해서, boolean값 1개를 return하는 ser
# parenthes(소괄호)로 감싼다고 tuple이 되는 것도 아니다. ser이다.
(df["Address1"] == "경기도") & (df["Overdue_count"] >= 5)

0        False
1        False
2        False
3        False
4         True
         ...
51296    False
51297    False
51298    False
51299    False
51300    False
Length: 51301, dtype: bool

In [62]:
# Adress1이 경기도이면서, Overdue_count가 5회 이상인 데이터 filtering
# 꼭 loc indexer를 사용하지는 않아도 된다.
#df[(df["Address1"] == "경기도") & (df["Overdue_count"] >= 5)] : error 발생 안함
# conditions를 계속 받아 쓰려니 귀찮긴 하다.
cond1 = (df["Address1"] == "경기도")
cond2 = (df["Overdue_count"] >= 5)
df.loc[cond1 & cond2]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.00,경기도,경기도,기간만료,12,있음,남자,8.00,농협회원조합
61,62,66758851,렌탈,일반계약,영업방판,2019-01-04,60,CMS,DES-R4,126900,개인,27.00,경기도,인천광역시,계약확정,12,있음,남자,5.00,농협중앙회
95,96,25751808,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-3A,90900,사업자,NaN,경기도,경기도,계약확정,15,있음,여자,NaN,기업은행
633,634,66697051,렌탈,프로모션계약,영업방판,2019-01-28,60,CMS,DES-2,90900,개인,NaN,경기도,경기도,계약확정,11,있음,남자,9.00,농협회원조합
900,901,66759324,렌탈,패키지계약,홈쇼핑/방송,2019-10-25,60,CMS,DES-1,81900,개인,46.00,경기도,경기도,계약확정,13,있음,여자,8.00,우리은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50383,50385,66798413,렌탈,프로모션계약,대형마트A,2019-06-25,60,CMS,DES-1,105900,개인,NaN,경기도,경기도,계약확정,12,있음,여자,8.00,농협회원조합
50808,50810,66218985,멤버십,멤버십3유형,대형마트A,2020-03-05,12,CMS,DES-1,66900,개인,47.00,경기도,인천광역시,계약확정,11,있음,여자,NaN,우체국
50931,50933,66798617,렌탈,일반계약,영업방판,2019-06-20,60,CMS,DES-1,108900,개인,NaN,경기도,경기도,계약확정,10,있음,여자,9.00,농협회원조합
51145,51147,25731398,렌탈,프로모션계약,영업방판,2019-12-19,60,CMS,DES-3A,108900,사업자,NaN,경기도,인천광역시,계약확정,11,있음,여자,NaN,국민은행
51291,51293,25731743,렌탈,일반계약,영업방판,2020-02-12,60,CMS,DES-3A,102900,사업자,NaN,경기도,경기도,계약확정,10,있음,여자,NaN,농협중앙회

In [64]:
# Age가 30세 미만이면서, Overdue_count 5회 이상인 데이터 filtering
cond1 = (df["Age"] < 30)
cond2 = (df["Overdue_count"] >= 5)
df.loc[cond1 & cond2]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
61,62,66758851,렌탈,일반계약,영업방판,2019-01-04,60,CMS,DES-R4,126900,개인,27.00,경기도,인천광역시,계약확정,12,있음,남자,5.00,농협중앙회
1345,1346,66758268,렌탈,패키지계약,영업방판,2019-09-17,60,CMS,DES-2,89400,개인,28.00,경상도,경상도,계약확정,10,있음,남자,4.00,경남은행
1594,1595,66758268,렌탈,일반계약,영업방판,2020-02-12,60,CMS,DES-2,105900,개인,28.00,경상도,경상도,계약확정,5,있음,남자,4.00,경남은행
5845,5846,66762531,렌탈,패키지계약,영업방판,2020-07-10,60,CMS,DES-1,134400,개인,27.00,충청도,대전광역시,계약확정,15,있음,남자,5.00,하나은행
5846,5847,66762531,렌탈,패키지계약,영업방판,2020-07-29,60,CMS,DES-2,89400,개인,27.00,충청도,대전광역시,계약확정,15,있음,남자,5.00,하나은행
6318,6319,66762154,렌탈,프로모션계약,영업방판,2019-01-12,39,CMS,ERA,120900,개인,29.00,경기도,경기도,계약확정,7,있음,여자,8.00,신한은행
7741,7742,66762293,렌탈,패키지계약,홈쇼핑/방송,2019-04-12,60,CMS,DES-1,81900,개인,29.00,전라도,광주광역시,계약확정,5,있음,여자,7.00,새마을금고
7742,7743,66762293,렌탈,패키지계약,홈쇼핑/방송,2019-04-13,60,CMS,DES-2,81900,개인,29.00,전라도,광주광역시,계약확정,5,있음,여자,7.00,새마을금고
7789,7790,66763046,렌탈,프로모션계약,대형마트E,2019-05-28,60,CMS,DES-1,96900,개인,29.00,경기도,경기도,계약확정,5,있음,남자,NaN,우리은행
9638,9639,66521212,렌탈,프로모션계약,영업방판,2019-01-15,60,CMS,DES-3A,90900,개인,29.00,경기도,경기도,계약확정,14,있음,남자,5.00,농협중앙회
12932,12933,66140171,렌탈,교체계약,영업방판,2019-09-01,60,CMS,DES-1,96900,개인,27.00,경기도,인천광역시,계약확정,7,있음,여자,5.00,새마을금고
14115,14116,66140171,렌탈,프로모션계약,영업방판,2019-06-12,60,CMS,DES-2,90900,개인,27.00,경기도,인천광역시,계약확정,7,있음,여자,5.00,새마을금고
14183,14184,66794154,렌탈,프로모션계약,영업방판,2019-01-18,60,CMS,DES-1,111900,개인,26.00,강원도,강원도,계약확정,5,있음,여자,5.00,농협회원조합
16965,16967,66770101,렌탈,프로모션계약,영업방판,2019-07-29,39,CMS,ERA,120900,개인,28.00,경기도,인천광역시,계약확정,14,있음,여자,8.00,신한은행
18972,18974,66771420,렌탈,프로모션계약,영업방판,2019-12-20,60,CMS,DES-2,110700,개인,26.00,충청도,충청도,계약확정,14,있음,여자,NaN,우리은행
19651,19653,66772572,렌탈,일반계약,영업방판,2019-04-03,60,CMS,DES-1,96900,개인,27.00,서울특별시,서울특별시,계약확정,14,있음,남자,6.00,신한은행
19972,19974,66771191,렌탈,일반계약,영업방판,2019-08-04,60,CMS,DES-3A,102900,개인,29.00,전라도,광주광역시,계약확정,14,있음,여자,NaN,신한은행
21643,21645,66773940,렌탈,프로모션계약,전문매장H,2020-04-21,60,CMS,DES-1,96900,개인,26.00,충청도,충청도,계약확정,13,있음,남자,NaN,신한은행
22395,22397,66774589,렌탈,일반계약,홈쇼핑/방송,2019-03-08,60,CMS,DES-1,96900,개인,28.00,경상도,경상도,계약확정,14,있음,여자,6.00,국민은행
22916,22918,66771420,렌탈,프로모션계약,영업방판,2019-02-28,36,CMS,DES-2,102900,개인,26.00,충청도,충청도,계약확정,14,있음,여자,NaN,우리은행
24457,24459,66775766,렌탈,프로모션계약,전문매장Z,2019-06-11,60,CMS,DES-1,96900,개인,26.00,경상도,울산광역시,계약확정,10,있음,여자,4.00,국민은행
29575,29577,66780331,렌탈,패키지계약,영업방판,2019-06-25,60,CMS,DES-1,89400,개인,26.00,경상도,대구광역시,계약확정,10,있음,여자,7.00,대구은행
29576,29578,66780331,렌탈,패키지계약,영업방판,2019-07-13,60,CMS,DES-2,89400,개인,26.00,경상도,대구광역시,계약확정,10,있음,여자,7.00,대구은행
30833,30835,66781865,렌탈,일반계약,영업방판,2020-03-25,60,CMS,DES-1,96900,개인,26.00,경기도,경기도,계약확정,8,있음,남자,5.00,신한은행
35004,35006,66771191,렌탈,프로모션계약,영업방판,2020-01-28,39,CMS,ERA,120900,개인,29.00,전라도,광주광역시,계약확정,13,있음,여자,NaN,신한은행
35629,35631,66785144,렌탈,일반계약,영업방판,2020-02-22,60,CMS,DES-1,96900,개인,26.00,경기도,경기도,계약확정,8,있음,여자,5.00,농협회원조합
35727,35729,66784678,렌탈,패키지계약,영업방판,2019-03-25,60,CMS,DES-1,81900,개인,26.00,충청도,충청도,계약확정,9,있음,남자,5.00,농협회원조합
35728,35730,66784678,렌탈,패키지계약,영업방판,2020-06-19,60,CMS,DES-2,81900,개인,26.00,충청도,충청도,계약확정,9,있음,남자,5.00,농협회원조합
37912,37914,66788315,렌탈,패키지계약,영업방판,2019-10-27,60,CMS,DES-1,89400,개인,28.00,전라도,전라도,계약확정,11,있음,남자,5.00,농협중앙회
37913,37915,66788315,렌탈,패키지계약,영업방판,2020-04-02,60,CMS,DES-2,89400,개인,28.00,전라도,전라도,계약확정,11,있음,남자,5.00,농협중앙회
42421,42423,66792877,렌탈,프로모션계약,대형마트H,2020-04-16,60,CMS,DES-1,96900,개인,26.00,충청도,대전광역시,계약확정,12,있음,남자,8.00,농협회원조합
44138,44140,66756601,렌탈,패키지계약,홈쇼핑/방송,2020-01-12,60,CMS,DES-2,81900,개인,26.00,서울특별시,서울특별시,계약확정,5,있음,여자,5.00,우리은행
44163,44165,66793452,렌탈,프로모션계약,영업방판,2019-04-29,39,CMS,MMC,185700,개인,28.00,경상도,경상도,계약확정,12,있음,여자,7.00,대구은행
45664,45666,66794991,렌탈,프로모션계약,영업방판,2020-02-06,39,CMS,MMC,185700,개인,29.00,경기도,경기도,계약확정,12,있음,남자,8.00,농협회원조합
46843,46845,66794159,렌탈,패키지계약,영업방판,2019-12-17,60,CMS,DES-1,98400,개인,27.00,서울특별시,서울특별시,계약확정,5,있음,남자,5.00,하나은행
46844,46846,66794159,렌탈,패키지계약,영업방판,2019-08-21,60,CMS,DES-2,89400,개인,27.00,서울특별시,서울특별시,계약확정,5,있음,남자,5.00,하나은행

In [69]:
# Address1이 경기도이거나, 충청도인 고객 데이터 filtering
cond1 = (df["Address1"] == "경기도")
cond2 = (df["Address1"] == "충청도")
df1 = df.loc[cond1 | cond2]
df1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.00,경기도,경기도,계약확정,0,없음,여자,9.00,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.00,경기도,경기도,계약확정,0,없음,남자,2.00,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.00,경기도,경기도,계약확정,0,없음,여자,8.00,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.00,경기도,경기도,계약확정,0,없음,남자,5.00,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.00,경기도,경기도,기간만료,12,있음,남자,8.00,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51293,51295,66799369,렌탈,일반계약,대형마트A,2020-07-10,60,CMS,DES-1,96900,개인,74.00,경기도,경기도,계약확정,0,없음,여자,1.00,국민은행
51294,51296,66796007,렌탈,프로모션계약,대형마트A,2019-03-11,60,카드이체,DES-3A,90900,개인,43.00,경기도,경기도,계약확정,0,없음,남자,NaN,BC카드
51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2019-03-11,60,카드이체,DES-1,96900,개인,45.00,경기도,경기도,계약확정,0,없음,여자,1.00,롯데카드
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.00,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.00,경기도,경기도,계약확정,0,없음,여자,8.00,새마을금고

In [71]:
df1["Address1"].value_counts()

경기도    18353
충청도     4871
Name: Address1, dtype: int64

In [79]:
# 렌탈 유형의 고객 데이터만 filtering 후, 연체건수가 5회 이상인 고객 filtering
cond1 = (df["Sales_Type"] == "렌탈")
cond2 = (df["Overdue_count"] >= 5)
df.loc[cond1 & cond2].sort_values(by="Overdue_count", ascending=False).head(10)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
2705,2706,66760494,렌탈,패키지계약,홈쇼핑/방송,2020-06-29,60,CMS,DES-2,81900,개인,52.00,전라도,전라도,계약확정,15,있음,남자,8.00,우리은행
5845,5846,66762531,렌탈,패키지계약,영업방판,2020-07-10,60,CMS,DES-1,134400,개인,27.00,충청도,대전광역시,계약확정,15,있음,남자,5.00,하나은행
3782,3783,66603883,렌탈,일반계약,영업방판,2019-10-28,60,CMS,DES-1,111900,개인,38.00,전라도,전라도,계약확정,15,있음,여자,7.00,농협중앙회
3094,3095,66679489,렌탈,프로모션계약,영업방판,2020-06-20,60,CMS,DES-3A,90900,개인,58.00,서울특별시,서울특별시,계약확정,15,있음,여자,4.00,우리은행
3093,3094,66679489,렌탈,프로모션계약,영업방판,2020-06-20,60,CMS,DES-3A,90900,개인,58.00,서울특별시,서울특별시,계약확정,15,있음,여자,4.00,우리은행
5594,5595,66762324,렌탈,프로모션계약,영업방판,2019-06-01,39,CMS,ERA,120900,개인,54.00,경상도,부산광역시,계약확정,15,있음,남자,8.00,부산은행
95,96,25751808,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-3A,90900,사업자,NaN,경기도,경기도,계약확정,15,있음,여자,NaN,기업은행
5846,5847,66762531,렌탈,패키지계약,영업방판,2020-07-29,60,CMS,DES-2,89400,개인,27.00,충청도,대전광역시,계약확정,15,있음,남자,5.00,하나은행
6350,6351,66763042,렌탈,프로모션계약,영업방판,2019-05-27,39,CMS,ERA,120900,개인,49.00,경상도,부산광역시,계약확정,15,있음,남자,7.00,새마을금고
347,348,66689896,렌탈,프로모션계약,영업방판,2020-07-22,60,CMS,DES-2,90900,개인,55.00,서울특별시,서울특별시,계약확정,15,있음,여자,7.00,신한은행