In [1]:
11

11

In [14]:
import pandas as pd
pd.options.display.float_format = "{:.2f}".format

- UnicodeDecodeError
> 'utf-8' codec can't decode byte 0xb0 in position 0: invalid start byte
- encoding : (한글)문자 변환
- encoding이 되어 있지 않은 파일 
> - os가 다른 컴퓨터 사이에서 데이터를 주고 받는 경우 발생

In [9]:
# cp949: 한글 encoding을 해주는 encoder
df1 = pd.read_csv("03_Delivery.csv", encoding="cp949")

유통 과정에서 발생한 data
- 배송될 때까지의 정보가 담겨있는 data

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46749 entries, 0 to 46748
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   결제수단    46749 non-null  object
 1   배송번호    46749 non-null  object
 2   배송시작일   46749 non-null  object
 3   배송완료일   46749 non-null  object
 4   상품구매금액  46749 non-null  int64
 5   상품번호    46661 non-null  float64
 6   수량      46749 non-null  int64
 7   주문경로    46749 non-null  object
 8   주문일     46749 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

In [16]:
# 수량: -1
# 상품 번호(고유번호)
# 이상치 : 데이터의 전체적인 trend를 벗어나는 값들을 이상치라고 판단한다.
df1.describe()

          상품구매금액      상품번호       수량         주문일
count   46749.00  46661.00 46749.00    46749.00
mean    69368.14    891.68     1.18 20184044.49
std     66112.47  11339.53     0.68     5192.40
min         0.00     38.00    -1.00 20170101.00
25%     32880.00    378.00     1.00 20180727.00
50%     67780.00    928.00     1.00 20181118.00
75%     92130.00   1209.00     1.00 20190225.00
max   4963400.00 999999.00    50.00 20190619.00

집단 : 데이터
- A : 2, 1, 3, 4, 5
> mean : 3
- B : 2, 1, 3, 4, 1000 
> mean: 약 200


통계적인 trend를 벗어나는 값의 기준 example
- e.g. 표준편차의 3배를 이상치라고 하자.
- 사분위 범위으  1.5배를 넘어가는 수를 이상치라고 하자.

- 컴퓨터는 수학자나 통계학자들이 만들어놓은 공식을 이용만해서 계산을 한다.
- 이상치 데이터를 포함해서 통계분석을 하면 안된다. 
- 이상치가 포함되서 계산하면 비정상적인 결과가 나온다.
- 따라서 이상치를 처리하고 데이터 분석을 이어서 해야 한다.

In [20]:
## 수량 데이터 : describe에서 50이 이상치일까?라고 의심해볼 필요가 있다.
# 나중에 상품 구매 금액이랑 비교해보면 된다.
# 구매 금액이 크지 않은지
# 싼 물건 50개 구매했는지
# 데이터를 보면서 판단해야 한다.
df1["수량"]

0        1
1        2
2        1
3        1
4        1
        ..
46744    1
46745    2
46746    1
46747    1
46748    1
Name: 수량, Length: 46749, dtype: int64

In [21]:
# 수량값이 0보다 작은 값들에 대해서 확인
cond1 = (df1["수량"] < 0)
df1.loc[cond1]

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
11,무통장입금,D-20181231-0000205-01,2019-01-03 오전 9:30,2019-01-07 오전 5:32,107910,1059.00,-1,PC쇼핑몰,20181231
22,무통장입금,D-20181231-0000635-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,78870,603.00,-1,PC쇼핑몰,20181231
97,카드,D-20190102-0000193-00,2019-01-03 오전 9:28,2019-01-07 오전 5:32,78870,603.00,-1,모바일웹,20190102
334,카드,D-20190103-0000849-03,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.00,-1,모바일웹,20190103
445,무통장입금,D-20190104-0000596-01,2019-01-08 오전 8:43,2019-01-12 오전 5:32,124250,90.00,-1,모바일웹,20190104
502,카드,D-20190105-0000109-00,2019-01-08 오전 8:43,2019-01-12 오전 5:32,93720,1123.00,-1,PC쇼핑몰,20190105
583,"적립금,카드",D-20190107-0000092-00,2019-01-08 오전 8:43,2019-01-12 오전 5:32,75570,1069.00,-1,모바일웹,20190107
898,"적립금,무통장입금",D-20190109-0000411-00,2019-01-10 오전 9:09,2019-01-14 오전 5:32,192000,1375.00,-1,PC쇼핑몰,20190109
970,무통장입금,D-20190109-0000959-00,2019-01-11 오전 10:10,2019-01-15 오전 5:32,42350,1283.00,-1,PC쇼핑몰,20190109
1240,카드,D-20190113-0000092-01,2019-01-15 오전 9:06,2019-01-19 오전 5:32,67320,1282.00,-1,PC쇼핑몰,20190113
1681,무통장입금,D-20190116-0000511-00,2019-01-17 오전 9:54,2019-01-21 오전 5:32,70620,1275.00,-1,PC쇼핑몰,20190116
2014,무통장입금,D-20190121-0000077-00,2019-01-22 오전 9:04,2019-01-26 오전 5:32,78210,397.00,-1,모바일웹,20190121
2212,무통장입금,D-20190122-0000426-00,2019-01-22 오후 6:18,2019-01-26 오전 5:32,83550,962.00,-1,PC쇼핑몰,20190122
2341,"적립금,무통장입금",D-20190123-0000529-01,2019-01-23 오후 6:50,2019-01-27 오전 5:32,126940,1373.00,-1,모바일웹,20190123
2416,실시간계좌이체,D-20190123-0001039-01,2019-01-24 오후 6:34,2019-02-02 오전 3:01,95110,1318.00,-1,네이버 페이,20190123
2464,카드,D-20190124-0000014-00,2019-01-24 오후 6:32,2019-01-28 오전 5:32,113520,445.00,-1,모바일웹,20190124

In [23]:
# 수량이 -1임에도 상품구매금액이 있다.
# 1) 잘못 입력
# 2) 오류
# 3) 환불 (단, 상품구매금액에도 음의값이 찍혀야 한다.)
# 가장 정확한 것은 이 data를 관리하는 실무자에게 물어보는 것이다.
# 이게 정말 이상치냐, 아니냐를 물어보는 것이다.

In [27]:
# 분석방법1 : 수량이 < 0 가 아닌 data만 갖고 분석한다.
df2 = df1.loc[~cond1]

In [26]:
# 최소값이 1개부터 데이터가 찍혀있음을 볼수 있다.
# 이렇게 수량 이상치를 제거한 거다.
df2.describe()

          상품구매금액      상품번호       수량         주문일
count   46733.00  46645.00 46733.00    46733.00
mean    69359.79    891.65     1.18 20184042.80
std     66119.37  11341.48     0.68     5192.20
min         0.00     38.00     1.00 20170101.00
25%     32460.00    378.00     1.00 20180727.00
50%     67780.00    928.00     1.00 20181118.00
75%     92130.00   1209.00     1.00 20190225.00
max   4963400.00 999999.00    50.00 20190619.00

In [28]:
# 이상치가 포함된 행을 제거하면 그 행의 다른 정보들도 
# 다 제거가 되기 떄문에, 이상치를 missing value로 바꾸던
# 1로 바꾸던 값을 변환해서 분석하는 방법도 있다.

# 가장 정확한 것은 상품번호 확인해서 
# 그 상품의 금액과 수량을 구매금액과 매칭해보는 것이다.
df1.loc[cond1]

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
11,무통장입금,D-20181231-0000205-01,2019-01-03 오전 9:30,2019-01-07 오전 5:32,107910,1059.00,-1,PC쇼핑몰,20181231
22,무통장입금,D-20181231-0000635-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,78870,603.00,-1,PC쇼핑몰,20181231
97,카드,D-20190102-0000193-00,2019-01-03 오전 9:28,2019-01-07 오전 5:32,78870,603.00,-1,모바일웹,20190102
334,카드,D-20190103-0000849-03,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.00,-1,모바일웹,20190103
445,무통장입금,D-20190104-0000596-01,2019-01-08 오전 8:43,2019-01-12 오전 5:32,124250,90.00,-1,모바일웹,20190104
502,카드,D-20190105-0000109-00,2019-01-08 오전 8:43,2019-01-12 오전 5:32,93720,1123.00,-1,PC쇼핑몰,20190105
583,"적립금,카드",D-20190107-0000092-00,2019-01-08 오전 8:43,2019-01-12 오전 5:32,75570,1069.00,-1,모바일웹,20190107
898,"적립금,무통장입금",D-20190109-0000411-00,2019-01-10 오전 9:09,2019-01-14 오전 5:32,192000,1375.00,-1,PC쇼핑몰,20190109
970,무통장입금,D-20190109-0000959-00,2019-01-11 오전 10:10,2019-01-15 오전 5:32,42350,1283.00,-1,PC쇼핑몰,20190109
1240,카드,D-20190113-0000092-01,2019-01-15 오전 9:06,2019-01-19 오전 5:32,67320,1282.00,-1,PC쇼핑몰,20190113
1681,무통장입금,D-20190116-0000511-00,2019-01-17 오전 9:54,2019-01-21 오전 5:32,70620,1275.00,-1,PC쇼핑몰,20190116
2014,무통장입금,D-20190121-0000077-00,2019-01-22 오전 9:04,2019-01-26 오전 5:32,78210,397.00,-1,모바일웹,20190121
2212,무통장입금,D-20190122-0000426-00,2019-01-22 오후 6:18,2019-01-26 오전 5:32,83550,962.00,-1,PC쇼핑몰,20190122
2341,"적립금,무통장입금",D-20190123-0000529-01,2019-01-23 오후 6:50,2019-01-27 오전 5:32,126940,1373.00,-1,모바일웹,20190123
2416,실시간계좌이체,D-20190123-0001039-01,2019-01-24 오후 6:34,2019-02-02 오전 3:01,95110,1318.00,-1,네이버 페이,20190123
2464,카드,D-20190124-0000014-00,2019-01-24 오후 6:32,2019-01-28 오전 5:32,113520,445.00,-1,모바일웹,20190124

In [29]:
# -1을 1로 바꿔보자.
# loc 함수를 사용해서
df1["수량(clean)"] = df1[""]
df1.loc[cond1, "수량(clean)"] = 1 # 1이라는 value를 assign

- 전략: 수량 -1을 1로 바꿔서 사용하자.

In [30]:
# cond1이 True인 data를 찾아서
# 수량(clean)이라는 새로운 col을 만들고
# 거기에 1이라는 값을 assign
# missing value
df1

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일,수량(clean)
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.00,1,PC쇼핑몰,20181227,NaN
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.00,2,모바일웹,20181229,NaN
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.00,1,모바일웹,20181230,NaN
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.00,1,모바일웹,20181231,NaN
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.00,1,모바일웹,20181231,NaN
...,...,...,...,...,...,...,...,...,...,...
46744,카드,D-20171229-0000036-00,2017-12-29 오후 4:32,2018-01-02 오전 5:31,52800,445.00,1,모바일웹,20171229,NaN
46745,카드,D-20171229-0000043-00,2018-01-03 오전 9:45,2018-01-07 오전 5:38,112200,172.00,2,모바일웹,20171229,NaN
46746,카드,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,36000,140.00,1,네이버 페이,20171230,NaN
46747,카드,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,73460,184.00,1,네이버 페이,20171231,NaN
46748,카드,D-20171231-0000026-00,2018-01-03 오후 12:43,2018-01-07 오전 5:38,81620,479.00,1,모바일웹,20171231,NaN

In [33]:
# cond1이 True인 행의 수량(clean) col에 1이라는 value를 assign

cond1 = (df1["수량"] < 0)

# 이렇게 해야 missing value가 없다.
df1["수량(clean)"] = df1["수량"]

df1.loc[cond1, "수량(clean)"] = 1

In [34]:
# 기존 수량 col : -1
# New 수량(clean) col : 1

# -1만 1로 변환
# 개수도 같음
df1.describe()

          상품구매금액      상품번호       수량         주문일  수량(clean)
count   46749.00  46661.00 46749.00    46749.00   46749.00
mean    69368.14    891.68     1.18 20184044.49       1.18
std     66112.47  11339.53     0.68     5192.40       0.68
min         0.00     38.00    -1.00 20170101.00       1.00
25%     32880.00    378.00     1.00 20180727.00       1.00
50%     67780.00    928.00     1.00 20181118.00       1.00
75%     92130.00   1209.00     1.00 20190225.00       1.00
max   4963400.00 999999.00    50.00 20190619.00      50.00

In [35]:
# 수량이 -1인 data만 filtering 해서
# 1로 변환 됬는지 안됬는지 확인해보기
cond1 = (df1["수량"] < 0)
df1.loc[cond1]

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일,수량(clean)
11,무통장입금,D-20181231-0000205-01,2019-01-03 오전 9:30,2019-01-07 오전 5:32,107910,1059.00,-1,PC쇼핑몰,20181231,1
22,무통장입금,D-20181231-0000635-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,78870,603.00,-1,PC쇼핑몰,20181231,1
97,카드,D-20190102-0000193-00,2019-01-03 오전 9:28,2019-01-07 오전 5:32,78870,603.00,-1,모바일웹,20190102,1
334,카드,D-20190103-0000849-03,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.00,-1,모바일웹,20190103,1
445,무통장입금,D-20190104-0000596-01,2019-01-08 오전 8:43,2019-01-12 오전 5:32,124250,90.00,-1,모바일웹,20190104,1
502,카드,D-20190105-0000109-00,2019-01-08 오전 8:43,2019-01-12 오전 5:32,93720,1123.00,-1,PC쇼핑몰,20190105,1
583,"적립금,카드",D-20190107-0000092-00,2019-01-08 오전 8:43,2019-01-12 오전 5:32,75570,1069.00,-1,모바일웹,20190107,1
898,"적립금,무통장입금",D-20190109-0000411-00,2019-01-10 오전 9:09,2019-01-14 오전 5:32,192000,1375.00,-1,PC쇼핑몰,20190109,1
970,무통장입금,D-20190109-0000959-00,2019-01-11 오전 10:10,2019-01-15 오전 5:32,42350,1283.00,-1,PC쇼핑몰,20190109,1
1240,카드,D-20190113-0000092-01,2019-01-15 오전 9:06,2019-01-19 오전 5:32,67320,1282.00,-1,PC쇼핑몰,20190113,1
1681,무통장입금,D-20190116-0000511-00,2019-01-17 오전 9:54,2019-01-21 오전 5:32,70620,1275.00,-1,PC쇼핑몰,20190116,1
2014,무통장입금,D-20190121-0000077-00,2019-01-22 오전 9:04,2019-01-26 오전 5:32,78210,397.00,-1,모바일웹,20190121,1
2212,무통장입금,D-20190122-0000426-00,2019-01-22 오후 6:18,2019-01-26 오전 5:32,83550,962.00,-1,PC쇼핑몰,20190122,1
2341,"적립금,무통장입금",D-20190123-0000529-01,2019-01-23 오후 6:50,2019-01-27 오전 5:32,126940,1373.00,-1,모바일웹,20190123,1
2416,실시간계좌이체,D-20190123-0001039-01,2019-01-24 오후 6:34,2019-02-02 오전 3:01,95110,1318.00,-1,네이버 페이,20190123,1
2464,카드,D-20190124-0000014-00,2019-01-24 오후 6:32,2019-01-28 오전 5:32,113520,445.00,-1,모바일웹,20190124,1

In [36]:
# 이상치가 오면, 
# 범위를 줘서, loc 함수를 이용해 새 col을 생성해서
# 이상치를 대체값으로 변환할 수 있다.

이상치 처리 방법
- 방법1 : 이상치 제거하고 새로운 df 만들어서 분석
> 이상치가 있는 행을 제거하고 분석
- 방법2 : 기존 col의 이상치를 다른 값으로 대체한 새로운 col을 생성 후 분석
> 이상치를 다른 값으로 대치하고 분석

In [38]:
# 상품번호99999가 이상치인지 확인해보기
cond2 = (df1["상품번호"] == 999999)
df1.loc[cond2]
# 상품 구매금액 col과 비교해보기: 다 다름
# 배송시작일 col : 주문 시간이 비슷함

# 따라서 잘못 찍힌 것으로 판단.

# 방법1: 이 데이터만 제외 후 분석
# 방법2: 상품번호를 missing value값을 assign

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일,수량(clean)
2521,카드,D-20190124-0000418-01,2019-01-24 오후 6:34,2019-02-02 오전 6:30,78870,999999.00,1,네이버 페이,20190124,1
2524,무통장입금,D-20190124-0000435-01,2019-01-24 오후 6:32,2019-01-28 오전 5:32,75240,999999.00,1,PC쇼핑몰,20190124,1
2526,무통장입금,D-20190124-0000440-00,2019-01-24 오후 6:32,2019-01-28 오전 5:32,124250,999999.00,1,PC쇼핑몰,20190124,1
2528,무통장입금,D-20190124-0000456-01,2019-01-24 오후 6:32,2019-01-28 오전 5:32,11660,999999.00,1,PC쇼핑몰,20190124,1
2529,무통장입금,D-20190124-0000456-02,2019-01-24 오후 6:32,2019-01-28 오전 5:32,60280,999999.00,1,PC쇼핑몰,20190124,1
2531,카드,D-20190124-0000471-01,2019-01-24 오후 6:32,2019-01-28 오전 5:32,75600,999999.00,3,모바일웹,20190124,3

In [39]:
import numpy as np

In [40]:
# np : numeric python
# missing value 집어넣기 : np.nan
cond2 = (df1["상품번호"] == 999999)
# 상품 번호가 9 여섯개인 데이터의 상품번호를 missing value로 대체
df1.loc[cond2, "상품번호"] = np.nan

In [44]:
#df1.loc[cond2]
# 9 여섯개가 missing value로 대체됬는지 확인
cond3 = (df1["상품번호"].isnull())
df1.loc[cond3]

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일,수량(clean)
2521,카드,D-20190124-0000418-01,2019-01-24 오후 6:34,2019-02-02 오전 6:30,78870,NaN,1,네이버 페이,20190124,1
2524,무통장입금,D-20190124-0000435-01,2019-01-24 오후 6:32,2019-01-28 오전 5:32,75240,NaN,1,PC쇼핑몰,20190124,1
2526,무통장입금,D-20190124-0000440-00,2019-01-24 오후 6:32,2019-01-28 오전 5:32,124250,NaN,1,PC쇼핑몰,20190124,1
2528,무통장입금,D-20190124-0000456-01,2019-01-24 오후 6:32,2019-01-28 오전 5:32,11660,NaN,1,PC쇼핑몰,20190124,1
2529,무통장입금,D-20190124-0000456-02,2019-01-24 오후 6:32,2019-01-28 오전 5:32,60280,NaN,1,PC쇼핑몰,20190124,1
...,...,...,...,...,...,...,...,...,...,...
45416,카드,D-20170605-0000056-00,2017-06-07 오후 4:19,2017-06-13 오전 5:42,12030,NaN,1,모바일웹,20170605,1
45417,카드,D-20170606-0000010-00,2017-06-07 오후 4:19,2017-06-13 오전 5:42,66500,NaN,1,PC쇼핑몰,20170606,1
45418,카드,D-20170606-0000026-01,2017-06-07 오후 4:21,2017-06-13 오전 11:58,12030,NaN,1,네이버 페이,20170606,1
45421,"적립금,무통장입금",D-20170607-0000018-00,2017-06-07 오후 4:19,2017-06-13 오전 5:42,64800,NaN,1,PC쇼핑몰,20170607,1
45422,무통장입금,D-20170607-0000031-00,2017-06-07 오후 4:19,2017-06-13 오전 5:42,44000,NaN,1,PC쇼핑몰,20170607,1

In [45]:
# 기존 col에 다른 val을 대치하면 
# 원래 값을 다시 확인할 수가 없다.
# 따라서, 값을 대치해서 쓸 때는
# 새로운  col 만들어서 사용하는게 가장 좋다.